[2015-08-05 18:56] blai opened #2 "`+` sign should be handled more carefully"
From readme, it seems like a selector `.foo+            .bar {}` would be formatted into `.foo + .bar`.

I am wondering if this has consider use cases such as [this](https://github.com/inuitcss/trumps.spacing)

[2015-08-05 19:23] johnie opened #3 "Declaration order"
It would be awesome if you could make it so that it also orders the properties like this

[code]

Or the way someone specifies. :blush:

[2015-08-05 19:29] frozzare commented on #3
+1

[2015-08-06 01:15] morishitter commented on #2
@blai
Thanks for your report :)

CSSfmt fotmat spaces between `+`(and some combinators) when it is in only selectors. E.g. `p+` and `mh++` are values of declarations, so they are not target to fotmat.
And, it is special syntax(variable) of inuitcss written in Sass. Now, CSSfmt supports only vanilla CSS syntax.

[2015-08-06 01:35] morishitter commented on #3
We can sort declarations using [CSScomb](https://github.com/csscomb/csscomb.js/). But, actually, I think it is necessary for CSSfmt :D

CSSfmt must not have a configuration file, so we decide one order rule. Here is default sort order of CSScomb. https://github.com/csscomb/csscomb.js/blob/master/config/csscomb.json#L28-L327
Do you have any ideas?

[2015-08-06 05:38] blai commented on #2
I see, thanks for the info.

[2015-08-06 05:38] #2 closed

[2015-08-06 07:00] morishitter opened #4 "Need options?"
Now, CSSfmt don't have options like Gofmt.
CSSfmt need options?

E.g:

- indent width
- when rule has only one declaration, allow to write one liner
- not indent in Atrule block

[2015-08-10 16:27] Grawl commented on #3
:+1:

[2015-08-11 03:24] ramasilveyra commented on #4
And rules options in a separate file. `.cssfmt` maybe

[2015-08-11 09:37] vxsx commented on #4
+1 options support would be great, through a json config file of some sort

[2015-08-11 10:44] morishitter commented on #4
Thanks for your advise. I will implement some options :)

[2015-08-11 10:48] morishitter commented on #4
First of all, I implemented `--diff` option. https://github.com/morishitter/cssfmt/pull/5

[2015-08-11 11:29] morishitter commented on #3
I think CSSfmt should not support to sort declarations, because now CSSfmt supports SCSS syntax.

E.g:

[code]

If CSSfmt formats this code, following is the result.

[code]

In this case, a value of `font-size` is overrided.
I think, formatter tools like CSSfmt should not change source code destructive.

What do you think about it?

[2015-08-12 02:18] nakajmg commented on #3
I agree with you :+1:

[2015-08-12 16:17] dmnsgn opened #7 "Editor plugins (add ST and others?)"
Any plan on developing a bigger Editor plugins ecosystem? Sublime Text seems to be a good candidate for that kind of tool. A simple build system can do the trick for now:

[code]

but it is not the more reliable solution.

[2015-08-12 18:54] thegregthomp commented on #7
+1 for ST3 integration

[2015-08-12 21:14] morishitter commented on #7
Now, there is a an only editor plugin for atom. https://github.com/1000ch/atom-cssfmt
I want editor plugins for Vim, Emacs and Sublime Text :)

[2015-08-13 08:03] kewah commented on #4
+1 for a `.cssfmt` config file. The same way `esformatter` or `eslint` do.

[2015-08-13 08:32] morishitter commented on #4
CSS syntax is not strict, so we can write various coding style. But I think, no one want to write unreadable code like this.

[code]

and, almost everyone open 1 space between `:` and values, dont't you?
I think, almost CSS developer write code in accordance with [this rules](https://github.com/morishitter/cssfmt#rules) without indent width.

So, at first, I will implement an only option to set in

[2015-08-13 08:36] thehung2224 commented on #7
+1 for ST3

[2015-08-13 09:27] kewah commented on #4
I don't with "open 2 lines between rules", I prefer to only have 1 line :)

Everyone has his own preferences when it comes to coding style. Either you aim to build a tool with an  opinionated coding style such as [standard](https://github.com/feross/standard) for JavaScript. Or you want to build something more flexible in term of customization, then a `.cssfmtrc` will quickly be needed imo :)
At f

[2015-08-13 10:49] morishitter commented on #4
@kewah Thanks for your advice :)

I think so too. Actually, I tried to create [CSSCS](https://github.com/morishitter/csscs) in this use case. But, when I created it, I realized that almost CSS developer write code in accordance with [this rules](https://github.com/morishitter/cssfmt#rules). So, I create CSSfmt inspired Gofmt (no options for formatting).

I think 'lines between rules' is critical t

[2015-08-13 12:01] dmnsgn commented on #7
Working on a ST3 plugin now.

[2015-08-13 19:21] crazy4groovy opened #11 "npm repeat-string"
Idea to use [repeat-string](https://www.npmjs.com/package/repeat-string) in util.

[2015-08-13 23:38] morishitter commented on #11
It looks nice. Maybe, I will use it in next release. Thanks :+1:

[2015-08-14 04:05] Justineo commented on #4
cssfmt can remain opinionated and simple. For flexibility I would choose [perfectonist](https://github.com/ben-eb/perfectionist) because it supports coding style options.

[2015-08-14 05:43] KeenS commented on #7
I wrote Emacs plugin https://github.com/KeenS/cssfmt.el

[2015-08-14 05:48] morishitter commented on #7
@KeenS Nice work! Thanks :D

[2015-08-14 08:31] thehung2224 commented on #7
@dmnsgn But as you said, it's only the trick :D

[2015-08-14 09:13] dmnsgn commented on #7
@thehung2224 that is why I have done that https://github.com/dmnsgn/sublime-cssfmt

[2015-08-14 09:49] morishitter commented on #7
@dmnsgn Thanks! I will add the link to README.

[2015-08-15 11:07] interpaul commented on #4
Could you take indent `indent_style` and `indent_size` from .editorconfig?
That's would be very helpful for those who already use http://editorconfig.org/

[2015-08-15 13:32] morishitter commented on #4
@interpaul Nice idea!

[2015-08-17 09:06] thehung2224 commented on #7
@dmnsgn Could you please help me how to run it in Sublime, I installed but it doesn't work. I also installed Node.js

[2015-08-17 09:09] kewah commented on #7
@thehung2224 You should open an issue on the plugin's repo :)

[2015-08-17 09:31] dmnsgn commented on #7
Closing as Vim, Emacs and Sublime Tex plugins added to the readme.
@thehung2224 If this is just an install problem, please go through the readme again and check you have completed all the steps. Otherwise open an issue on sublime-cssfmt with an eventual error message, node version, os...

[2015-08-17 09:31] #7 closed

[2015-08-18 14:40] yisibl opened #15 "Support at rule nested"
input:

[code]

now output:

[code]

See also more test case: https://github.com/yisibl/perfectionist-test/blob/master/cssfmt/template.css

[2015-08-18 15:36] #15 closed

[2015-08-18 15:39] morishitter commented on #15
@yisibl Thanks for your report :)

[2015-08-18 15:57] saunders1989 opened #16 "How many lines do you open between rules?"
I see there is a ticket for options but was wondering is there a work around I could use to change this to only 1 line between rules? I am using your grunt plugin*

[2015-08-18 16:08] morishitter commented on #16
@saunders1989 You mean, you want an option for setting lines between rules, right?

[2015-08-18 16:10] saunders1989 commented on #16
@morishitter thats right. at the moment its set at 2 but I'd like to change to 1 line

[2015-08-18 16:19] morishitter commented on #16
Now, open 1 line before nested rules.

E.g:
[code]

So, I think, 2 line break is better between rules that is not nested

[2015-08-18 16:24] saunders1989 commented on #16
I guess this is all just opinions which is why I think an options to make it as flexible as possible would be good.

We are using BEM so we don't have much nesting if any and just want to clean up old legacy code which is why I'd prefer 1 line like:

[code]

This is the format I'd like to produce for all my scss files

[2015-08-18 16:24] kewah commented on #16
@morishitter I follow BEM methodology and I prefer to keep 1 lines between rules.

[code]

I add a comment to separate block rules

[2015-08-18 16:37] kewah opened #17 "Empty line before nested rules"
Hej,

Currently it adds an empty before nested rules even if there is no properties.

Input:
[code]

Current output:
[code]

Expected:
[code]

Thanks

[2015-08-18 16:39] morishitter commented on #16
You have a point. But, I'm not going to implement options for formatting without indentation.

[2015-08-18 16:42] morishitter commented on #16
So, I want to know propotion who use 1 line or 2 lines between rules.

[2015-08-18 16:44] morishitter commented on #17
Thanks for your report.

[2015-08-18 17:13] saunders1989 commented on #16
Doing a quick google search the w3 and a lot of others use 1 new line between selectors.

http://www.lonniebest.com/formatcss/ This website only gives option for 1 line but not 2.

I'm not saying you're wrong as I said it's all opinions but having options to say indent your rules by 2 spaces and then a new selector will have 1 new line between them.

[2015-08-18 17:14] saunders1989 commented on #16
I do think the nested element should only have 1 space between the last rule and the selector for the nested rule.

[2015-08-19 03:37] morishitter commented on #16
@saunders1989 Could you give me an example formatted code?

[2015-08-19 06:19] #17 closed

[2015-08-19 06:24] morishitter commented on #3
I decide to not support sorting declaration order.

[2015-08-19 07:22] saunders1989 commented on #16
@morishitter Here is example of how I format my css:

[code]

So I have 1 space between my nested selector and last rule and 1 space between new rules. spacing is 2 spaces (but this should be configurable as not everyone prefers 2 spaces)

[2015-08-19 08:26] hawthorneluke commented on #16
To sum things up:
Current spacing is 2 lines between rule sets, but saunders1989 would like an option to change this.

The problem is, if such options are introduced and everyone can alter the format as they wish (which sounds like the obvious answer), then the reasons stated in the readme for this tools existence go out the window.
(
* easier to read : when all code looks the same you need not me

[2015-08-19 08:36] kewah commented on #16
Well, I guess if we want to have 1 line break between rules https://github.com/ben-eb/perfectionist is a better fit for our need

[2015-08-19 08:52] saunders1989 commented on #16
@hawthorneluke I dont think that is the case. because if you have options you'd be setting them for the team you are in not the world. Not everyone has the same coding style it is per team so having an option file still makes code easier to read, easier to maintain and uncontroversial by changing the option and checking the file in the team will then get the updated option and code will still foll

[2015-08-19 09:24] morishitter commented on #16
I tried to create [CSSCS](https://github.com/morishitter/csscs), the formatting CSS tool inspired by JSCS. And I thought [some rules of formatting](https://github.com/morishitter/csscs/issues/1).

When I was creating CSSCS, I thought no one want to write `.foo+.bar`. Does everyone write it `.foo + .bar`?
So, I decide to create CSSfmt without options for formatting like Gofmt.

[2015-08-19 09:28] hawthorneluke commented on #16
@saunders1989 I agree, that could be one way with going about it all, if that ends up working well. I'm just just stating the problems seen here.

Of course I too prefer to set everything up the way I like it, but if the creator's not careful, this simple tool with meaning could end up as a complex one with its meaning lost, so I think the answer to this needs to be thought out well.

[2015-08-19 09:28] morishitter commented on #16
If almost developers think that opening 1 line is better than 2, I will change it soon :)

[2015-08-19 09:51] saunders1989 commented on #16
@morishitter I would write it `.foo + .bar`.

@hawthorneluke I think opening up options for very simple stuff that changes per teams. e.g. indentation spaces (4 spaces,  2 spaces (default)) also changing the space between rule sets from 2 spaces 1 space as default but have that as an option? Also we should have 1 space between a nested rule as you currently have it working that seems pretty consis

[2015-08-20 01:49] morishitter opened #18 "Support inline comments"
like this:

[code]

- [x] Update PostCSS to v5.0

[2015-08-23 16:31] #18 closed

[2015-08-26 17:33] dmnsgn opened #20 "Node#_important was deprecated. Use Node#raws.important"
Version 1.0.0, running `cssfmt test.css` in command line return `Node#_important was deprecated. Use Node#raws.important`

It looks like it is only happening for .css file though, not .scss.

[2015-08-27 00:58] morishitter commented on #20
@dmnsgn Please gime me an example CSS code that error occurs.

[2015-08-27 07:13] dmnsgn commented on #20
@morishitter I used the `input.css` from the README

[2015-08-27 07:39] morishitter commented on #20
CSSfmt passed the test case in README example code, and I tried to it in my PC using CSSfmt v1.0.0.
But, no error occurs.

[2015-08-27 08:08] dmnsgn commented on #20
You mean this https://github.com/morishitter/cssfmt/blob/master/test/fixtures/readme.css ? Because it is using the SCSS syntax with `mixin`, `@extend` .
I started from scratch, installed cssfmt globally then I used the following CSS (taken from the README), ran `cssfmt input.css` and then the error occurs (tested on 3 different platforms).

[code]

[2015-08-27 14:16] morishitter commented on #20
I understarnd. Thank you for your report. I will fix this :)

[2015-08-28 06:51] morishitter opened #21 "Logo ideas"
Give me logos :D

[2015-08-28 11:50] #20 closed

[2015-08-31 22:51] joaocunha opened #22 "Ignoring a @font-face declaration"
It's formatting this `@font-face` rule like this:
[code]

Any clues?

[2015-09-01 01:38] morishitter commented on #22
@joaocunha Thank you for your report! Now, CSSfmt can format `@font-face`. Please update to latest version :)

[2015-09-01 01:38] #22 closed

[2015-09-01 07:51] kewah commented on #16
@morishitter so what's the plan for this ? :)

[2015-09-01 09:01] morishitter commented on #16
@kewah We must open 1 line between declarations and nested rules. So, I still think, we must open 2 lines between rules. Having one more line between rules doesn’t make them harder to read :)

e.g.

[code]

[2015-09-01 09:05] kewah commented on #16
@morishitter Too bad that we can't group elements (in BEM) together with just 1 line.

[2015-09-01 09:07] saunders1989 commented on #16
@morishitter I still thinks this goes against the majority of the community

[2015-09-01 09:26] morishitter commented on #16
@kewah @saunders1989
Do you think, the following code is readable than above one?

[code]

[2015-09-01 09:29] morishitter commented on #16
If I write CSS in BEM with Sass, I will write like this.

[code]

[2015-09-01 09:43] kewah commented on #16
@morishitter I don't use Sass and I don't want to define my elements as nested rules. IMO 1 blank line is clear enough to separate rules.

I think we are going nowhere in this discussion :) Either you stick with your personal preferences (2 blank lines), which is your rights since you are the repo's owner (then it's up to us to find something that fit our needs). Or you follow more common style gu

[2015-09-01 09:52] morishitter commented on #16
@kewah @saunders1989
Thanks.

and

You said. I think so too.

OK! I will change brank lines between rules 1 to 2 :)

[2015-09-01 09:55] saunders1989 commented on #16
@morishitter could you create an options for this? that way if someone wants the 2 lines they can but by default its 1?

thanks for changing it though it will be really handy

[2015-09-01 09:58] morishitter commented on #16
@saunders1989 This is my opinion :) https://github.com/morishitter/cssfmt/issues/16#issuecomment-132507110

[2015-09-01 10:05] morishitter commented on #16
@saunders1989 @kewah Just released CSSfmt v1.1.0. Please update to latest version :) https://github.com/morishitter/cssfmt/releases/tag/v1.1.0

[2015-09-01 11:49] kewah commented on #16
@morishitter :+1: thanks for taking our comments into consideration!

[2015-09-02 10:32] #16 closed

[2015-09-04 01:55] morishitter commented on #11
https://github.com/morishitter/cssfmt/commit/753cc53a11eb3878c25da887f65ca7034ba16558

[2015-09-04 01:55] #11 closed

[2015-09-09 14:19] yisibl opened #28 "Fix @mixin syntax"
Input:

[code]

Output:

[code]

We should check other similar rules.

More test case: http://www.sitepoint.com/sass-mixin-placeholder/

[2015-09-09 14:31] yisibl opened #29 "Better format bracket"
A plurality of nested brackets, ending a space reserved.

Input:

[code]

Output:

[code]

While adding an option, if you close this option, do not keep the space.

[2015-09-09 14:41] yisibl commented on #4
+1

[2015-09-09 14:47] morishitter opened #30 "Need 1 space between `@include` param and `{`"
https://github.com/morishitter/cssfmt/commit/76e6d3b52a76b7d8a81dd2d2a22ed38dc03e50af#commitcomment-13138232

[2015-09-09 14:55] #28 closed

[2015-09-09 14:57] morishitter commented on #29
fmm.. I think, this is not need ;(

[2015-09-10 06:03] morishitter commented on #30
https://github.com/morishitter/cssfmt/commit/1108bc4717ea3e050f9b7a05a8f426b214026179

[2015-09-10 06:03] #30 closed

[2015-09-10 06:28] yisibl commented on #29
OK.

[2015-09-11 03:04] #29 closed

[2015-09-11 03:04] morishitter commented on #29
Thanks :)

[2015-09-11 09:27] morishitter commented on #4
@interpaul @yisibl implemented to get `indent_size` and `indent_style` from `.editorconfig`. https://github.com/morishitter/cssfmt/commit/101be72a36aecb2c4da678253173ab9107a97ef8

[2015-09-11 09:39] morishitter commented on #4
Just released CSSfmt v1.3.0. https://github.com/morishitter/cssfmt/releases/tag/v1.3.0

[2015-09-11 09:39] #4 closed

[2015-09-12 05:36] morishitter opened #31 "ec.indentStyle is null"
https://github.com/morishitter/cssfmt/commit/101be72a36aecb2c4da678253173ab9107a97ef8#commitcomment-13195124

[2015-09-12 05:41] #31 closed

[2015-09-14 06:24] morishitter opened #32 "Error handling when we don't use editorconfig"
https://github.com/1000ch/atom-cssfmt/issues/4

[2015-09-14 06:25] #32 closed

[2015-09-15 04:46] morishitter opened #33 "Format atrules in rules"
https://github.com/morishitter/cssfmt/pull/26

[2015-09-15 04:49] #33 closed

[2015-09-22 22:05] dmnsgn opened #34 "SCSS $var's are removed from border property shorthand."
Originally from @atostudios in https://github.com/dmnsgn/sublime-cssfmt/issues/5

[2015-09-23 09:51] #34 closed

[2015-09-23 09:54] morishitter opened #35 "Branks between values and semicolon"
https://travis-ci.org/morishitter/cssfmt/jobs/81744845

[2015-09-25 10:11] #35 closed

[2015-09-29 19:26] joaocunha opened #36 "Wrong spacing on on adjacent selector (+) and parent (&) on SCSS"
This:
[code]

Gets spaced as:
[code]

Using the [Sublime Plugin](https://github.com/dmnsgn/sublime-cssfmt), but I assume it's a lib issue.

[2015-09-30 07:20] #36 closed

[2015-09-30 07:21] morishitter commented on #36
@joaocunha Thanks for your report :)

[2015-10-02 19:02] joaocunha opened #37 "Incorrect spacing with @include"
This:
[code]

Is formatted as:
[code]

[2015-10-07 02:30] #37 closed

[2015-10-30 18:07] joaocunha opened #38 "Wrong media query indentation with @import"
It doesn't indent the `max-width` properly when an `@import` declaration is on top:

[code]

[2015-11-19 06:33] morishitter opened #41 "Format hex color code"
I think, lower case is better.

[2015-12-14 00:23] kesla opened #42 "data-url gets formatted badly"
Running cmsfmt on a data-url (`url(data:image/png;base64,iVBORw0KGg...)`) got formatted so that an extra space is added after the decimal sign (`url(data:image/png;base64, iVBORw0KGg...)`)

[2015-12-14 06:47] morishitter commented on #42
Wow, thanks for your report.

[2015-12-15 09:10] denji commented on #42
https://github.com/ben-eb/perfectionist/pull/25#issuecomment-160241450

[2015-12-15 11:05] morishitter commented on #42
@denji thanks :+1:

[2015-12-16 16:46] chemzqm opened #45 "Space always missing when run cssfmt out of project folder"
When I pipe content to the executable bin/cli.js in cssfmt folder, the result is corrent:
[code]
but when I run the command in another folder (like parent folder), all indent space is gone:
[code]

Same bug occurs when I run command `cssfmt`
[code]

I've no idea of how this could happen😞

my system is OSX El Capitan, npm version 2.14.7, node version v4.2.3

Thanks for help

[2015-12-17 06:25] morishitter commented on #45
Thanks for your report. I will confirm it :)

[2015-12-25 08:45] morishitter commented on #45
@chemzqm What is the version of CSSfmt? I checked by latest version(v1.3.9), so I got correct output on node v4.2.3.

[2015-12-25 09:03] chemzqm commented on #45
Version 1.3.9, I'm trying to figure it out, I will let you know when I'm done

[2015-12-25 09:17] morishitter commented on #38
@joaocunha I added [a test cace](https://github.com/morishitter/cssfmt/commit/a93983b137db83bd3d447a1b288750be888c4eb8) to confirm it, and passed the test.

Please update CSSfmt to latest version.

[2015-12-25 09:36] chemzqm commented on #45
It should be a problem with https://www.npmjs.com/package/editorconfig-indent
as my editorconfig looks like this:
[code]
It doesn't parse [**.css] section and return `{ indentSize: 0, indentStyle: null }` for this editorconfig, and the file `cssfmt/lib/config` not handling this situation correctly, it should use default value (two space) instead give empty string

[2015-12-25 09:38] morishitter commented on #45
Wow, I see. Thanks.

[2015-12-28 21:44] morishitter opened #50 "Format Sass nested mixins"
input:
[code]

we will get:
[code]

https://github.com/morishitter/cssfmt/pull/49

[2015-12-28 21:47] morishitter opened #51 "Format Sass function"
input:
[code]

we will get:
[code]

https://github.com/morishitter/cssfmt/pull/47

[2015-12-29 03:45] #51 closed

[2015-12-29 03:45] #50 closed

[2015-12-29 11:36] #42 closed

[2015-12-31 06:16] #41 closed

[2015-12-31 06:36] morishitter commented on #45
@chemzqm I just fixed this bug (https://github.com/morishitter/cssfmt/commit/ae726caec34727173596ff38a116443bd3e913e6) and released [v1.4.0](https://github.com/morishitter/cssfmt/releases/tag/v1.4.0).

Please update to the latest version :)

[2015-12-31 06:36] #45 closed

[2015-12-31 17:33] kristerkari opened #56 "Bug: indentation breaks when AtRules and Rules have different indentation"
Indentation breaks when formatting this code (it should not change):

[code]
[code]

Everything works correctly if I remove the AtRule:

[code]

[2016-01-02 08:46] #21 closed

[2016-02-02 21:45] corysimmons opened #61 "Support stylelint configuration"
It's fine to have defaults, but it'd be nice if this supported users passing their own stylelint config.

[2016-02-03 07:40] morishitter commented on #61
@corysimmons Thank you for your proposal, and I read some issues in stylelint repository that is related to CSSfmt .
But I'm not going to introduce options(a config file) to format code (https://github.com/morishitter/cssfmt/issues/4).

I use stylelint in my project. It is cool!
And here is my stylelint config file:

[code]

In my opinion, stylelint is a lint tool, so I use stylelint  only to lint

[2016-02-03 07:51] corysimmons commented on #61
Not everyone wants to format according to your rules: https://github.com/morishitter/cssfmt#rules

I don't. I'm sure a lot of other people don't.

[2016-02-03 08:11] morishitter commented on #61
What rule do you dislike? Almost developers write CSS in accordance with rules in my experience (without indentation size).

I got tired of maintaining config files(ex. .babelrc, .eslintrc, .editorconfig, etc).
So, I created CSSfmt inspired by Gofmt. It is simple to use.

[2016-02-03 08:57] corysimmons commented on #61
I'm currently working on a strict config for stylelint. You have 22 rules defined, I have over a hundred.

It doesn't matter what I particularly want. The point of this Issue is anyone should be able to configure CSSfmt with a stylelint config file and it should format according to that.

I'm sure I'm not alone in this sentiment, but if you're content with your tool, then no problem. We'll impleme

[2016-02-04 01:09] morishitter commented on #38
@joaocunha Did you confirm it with the latest version of CSSfmt? If you have a probrem, please tell me your development environment(OS, version of Node, npm, CSSfmt).

[2016-02-04 01:27] joaocunha commented on #38
Sorry! Didn't end up testing. I'm not doing CSS at the moment... it might be safe to close, then!

[2016-02-04 08:30] #56 closed

[2016-02-08 19:54] #38 closed

[2016-03-05 17:29] in-in commented on #61
@corysimmons You're not alone. I'm prefer this syntax,
[code]
but CSSfmt forcing me use some immutable rules. Still with the CSScomb and dreaming about auto formatting according to the stylelint config.

(Sorry, I'm not good at English too)

[2016-03-07 01:52] morishitter opened #75 "Support to formatting LESS code"
PostCSS LESS Syntax: https://github.com/webschik/postcss-less

[2016-03-07 07:04] corysimmons commented on #61
![](https://media.giphy.com/media/7rj2ZgttvgomY/giphy.gif)

[2016-03-07 07:06] corysimmons commented on #61
If you do upgrade it, please support all 3 versions of configuration: https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#loading-configuration

[2016-03-07 07:16] morishitter commented on #61
@corysimmons I see, thank you for telling me :)

[2016-03-07 09:01] corysimmons commented on #61
No problem. A lot of people make config for .stylelintrc and forget the other types so I figured I'd point it out before you got started. :D

[2016-03-07 09:18] morishitter commented on #61
:+1:

[2016-03-08 10:09] morishitter opened #76 "auto-correctable rules list in stylelint"
related to: https://github.com/morishitter/cssfmt/issues/61

Feel free to add to this list :)

- [at-rule-empty-line-before](https://github.com/stylelint/stylelint/tree/master/src/rules/at-rule-empty-line-before)
- [block-closing-brace-newline-after](https://github.com/stylelint/stylelint/tree/master/src/rules/block-closing-brace-newline-after)
- [block-closing-brace-newline-before](https://github

[2016-03-16 02:43] morishitter opened #78 "Do not override files if there are no difference between the input and the formatted"

[2016-03-16 02:58] #78 closed

[2016-04-04 23:58] #76 closed

[2016-04-05 00:06] morishitter commented on #61
@corysimmons I just released stylefmt (renamed from CSSfmt) v3.0.0, support to understand stylelint rules for formattin :tada:  https://github.com/morishitter/stylefmt/releases/tag/v3.0.0

[2016-04-05 03:07] azu opened #81 "stylefmt ignore .stylelintrc.json"
Hi, Nice work for supporting stylelint configuration #61

I've noticed unexpected behavior that stylefmt ignore `.stylelintrc.json`(`.stylelintrc.<ext>` pattern).

- https://github.com/morishitter/stylefmt/blob/ede1ed3b1a1c7b7a849849c57da77029d8c7dd83/lib/params.js#L15 ([rc-loader](https://www.npmjs.com/package/rc-loader "rc-loader")  can't load `.stylelintrc.<ext>`.

stylelint can load config fro

[2016-04-05 04:41] morishitter commented on #81
@azu Thank you for telling me. I will fix it using cosmiconfig.

[2016-04-05 08:05] corysimmons commented on #61
@davidtheclark ^ if you're interested

[2016-04-05 14:13] davidtheclark commented on #61
Yeah, thanks for the ping. This is really cool. I'll be trying it out soon.

[2016-04-05 16:10] silverwind opened #82 "Support for stylelint's max-line-length"
For wrapping long list of selectors, support for [`max-line-length`](https://github.com/stylelint/stylelint/blob/master/src/rules/max-line-length/README.md) would be great to have. This can get a bit tricky to get right when it comes to comments and `url`, which should probably be left out from wrapping.

#### Example input
[code]

#### Example output:
[code]

[2016-04-06 05:16] morishitter commented on #82
It seems nice! But, it is only for selectors. Now, I have no idea to handle comments and `url` as you said.
Thanks for your idea :)

[2016-04-06 19:33] cbrwizard opened #86 "Option to follow only rules described in .stylelintrc"
Hey, it's great that you added support for `.stylelintrc`!
I started using it in my project and I have noticed that, apparently, `stylefmt` uses a merging strategy when choosing rules: it follows `.stylelintrc` rules and also applies `stylefmt`'s standard ones for the rules it didn't find/recognize in `.stylelintrc`.
For instance, I follow [stylelint-config-standard](https://github.com/stylelint/s

[2016-04-06 20:09] cbrwizard opened #87 "stylefmt adds a newline at the beginning of the file before variable declarations in scss"
Hey, I found an issue with `stylefmt` default rules. It adds a newline at the beginning of the file when there is a variable declaration on the first line:
[code]
I run `stylefmt example.scss` and that file ^ gets transformed into:
[code]

In my opinion, it's not intended and a newline shouldn't be added in the beginning of the file.

[2016-04-07 02:49] #61 closed

[2016-04-07 10:53] morishitter commented on #81
@azu Just released v3.1.0 that introduced cosmiconfig to load the configuration file in the same way as stylelint. Please confirm it :)

[2016-04-07 19:30] chrisblossom opened #89 "npm run script help"
Please provide an example of how to get this working with npm run scripts. I am using SASS (and css-modules) but this is the error I am getting:

[code]

Appreciate it!

[2016-04-07 20:40] morishitter commented on #89
I'm so sorry, I will fix it soon.

[2016-04-07 20:41] chrisblossom commented on #89
Thanks for the quick reply! No problem at all. Assumed I was doing something wrong.

[2016-04-07 21:54] DylanPiercey opened #91 "Doesn't work with NVM"
Even though node is in the path it is not working with NVM.
Could also be related to my node version which is `5.6.0`.

[code]

![image](https://cloud.githubusercontent.com/assets/4985201/14368104/ee0be298-fcd8-11e5-99bb-e0a8ea8cc111.png)

[2016-04-08 01:05] morishitter commented on #91
fm.. we can run stylefmt if we have the node environment. I think, it occurs in sublime-stylefmt or sublime text itself.

[2016-04-08 01:11] DylanPiercey commented on #91
@morishitter other sublime plugins that rely on nodejs  work fine with my current configuration if that helps.

[2016-04-08 01:19] morishitter commented on #89
fmm... I couldn't confirm this error. Please tell me your versions of Node.js, stylefmt and OS.

[2016-04-08 02:05] davidtheclark opened #92 "Add stylelint's color rules"
It would be great to auto-correct colors according to the following stylelint rules:

color-hex-case: Specify lowercase or uppercase for hex colors.
color-hex-length: Specify short or long notation for hex colors.
color-named: Require (where possible) or disallow named colors.

http://stylelint.io/user-guide/rules/#color

I think all of those could be auto-corrected. Agree?

[2016-04-08 02:08] davidtheclark commented on #92
@morishitter I was thinking of adding issues here for other stylelint rules that I think could be auto-corrected. Do you want me to do that? If so, I have some questions:

- What format would you like them -- one issue per rule? Or grouped (like this one)?
- Do you have principles for rules that you would not want to auto-correct even if it seems they could be?

You've got a lot of stars here, and

[2016-04-08 06:22] morishitter commented on #92
@davidtheclark Thank you for your report!

I have a plan to add color-hex-case rule. Now, stylefmt format hex color code to lowercase by default.
color-hex-length rule is too, but I think it is not necessary that much.
Do we want to change `#000` to `black`? Perhaps, it should not be a task of format tools.

One issue per rule is better.

I think, All stylefmt have to do is to format code, so it s

[2016-04-08 13:49] davidtheclark commented on #92
Thanks for the response. I pretty much understand. Let me just repeat back what I understand and you correct me if I'm wrong:

You want to restrict the rules that stylefmt address to those governing *format*. From the existing stuff and the examples I know that means *whitespace* and *capitalization*. That probably covers most of what I intended. I'll open some issues, and if you don't want to imp

[2016-04-08 13:50] davidtheclark opened #93 "Add support for function-calc-no-unspaced-operator"
http://stylelint.io/user-guide/rules/function-calc-no-unspaced-operator/

[2016-04-08 13:51] davidtheclark opened #94 "Add support for function-comma-space-after"
http://stylelint.io/user-guide/rules/function-comma-space-after/

[2016-04-08 13:52] davidtheclark opened #95 "Add support for function-comma-space-before"
http://stylelint.io/user-guide/rules/function-comma-space-before/

[2016-04-08 13:52] davidtheclark opened #96 "Add support for function-max-empty-lines"
http://stylelint.io/user-guide/rules/function-max-empty-lines/

[2016-04-08 13:52] davidtheclark opened #97 "Add support for function-parentheses-space-inside"
http://stylelint.io/user-guide/rules/function-parentheses-space-inside/

[2016-04-08 13:52] davidtheclark opened #98 "Add support for function-url-quotes"
http://stylelint.io/user-guide/rules/function-url-quotes/

[2016-04-08 13:53] davidtheclark opened #99 "Add support for number-leading-zero"
http://stylelint.io/user-guide/rules/number-leading-zero/

[2016-04-08 13:54] davidtheclark opened #100 "Add support for number-no-trailing-zeros"
http://stylelint.io/user-guide/rules/number-no-trailing-zeros/

[2016-04-08 13:54] davidtheclark opened #101 "Add support for string-quotes"
http://stylelint.io/user-guide/rules/string-quotes/

[2016-04-08 13:54] davidtheclark opened #102 "Add support for value-list-comma-space-after"
http://stylelint.io/user-guide/rules/value-list-comma-space-after/

Generally I wasn't sure whether the `-newline-` equivalents of rules like this should be added or not. What do you think?

[2016-04-08 13:55] davidtheclark opened #103 "Add support for value-list-comma-space-before"
http://stylelint.io/user-guide/rules/value-list-comma-space-before/

[2016-04-08 13:56] davidtheclark opened #104 "Add support for declaration-bang-space-after"
http://stylelint.io/user-guide/rules/declaration-bang-space-after/

[2016-04-08 13:56] davidtheclark opened #105 "Add support for declaration-bang-space-before"
http://stylelint.io/user-guide/rules/declaration-bang-space-before/

[2016-04-08 13:56] davidtheclark opened #106 "Add support for declaration-colon-space-after"
http://stylelint.io/user-guide/rules/declaration-colon-space-after/

[2016-04-08 13:56] davidtheclark opened #107 "Add support for declaration-colon-space-before"
http://stylelint.io/user-guide/rules/declaration-colon-space-before/

[2016-04-08 13:57] davidtheclark opened #108 "Add support for declaration-block-semicolon-space-before"
http://stylelint.io/user-guide/rules/declaration-block-semicolon-space-before/

[2016-04-08 13:57] davidtheclark opened #109 "Add support for declaration-block-semicolon-newline-after"
http://stylelint.io/user-guide/rules/declaration-block-semicolon-newline-after/

[2016-04-08 13:57] davidtheclark opened #110 "Add support for declaration-block-trailing-semicolon"
http://stylelint.io/user-guide/rules/declaration-block-trailing-semicolon/

[2016-04-08 13:58] davidtheclark opened #111 "Add support for selector-combinator-space-after"
http://stylelint.io/user-guide/rules/selector-combinator-space-after/

[2016-04-08 13:58] davidtheclark opened #112 "Add support for selector-combinator-space-before"
http://stylelint.io/user-guide/rules/selector-combinator-space-before/

[2016-04-08 13:58] davidtheclark opened #113 "Add support for selector-list-comma-newline-after"
http://stylelint.io/user-guide/rules/selector-list-comma-newline-after/

[2016-04-08 13:59] davidtheclark opened #114 "Add support for selector-list-comma-space-after"
http://stylelint.io/user-guide/rules/selector-list-comma-space-after/

[2016-04-08 13:59] davidtheclark opened #115 "Add support for selector-list-comma-space-before"
http://stylelint.io/user-guide/rules/selector-list-comma-space-before/

[2016-04-08 14:00] davidtheclark opened #116 "Add support for media-feature-colon-space-after"
http://stylelint.io/user-guide/rules/media-feature-colon-space-after/

[2016-04-08 14:00] davidtheclark opened #117 "Add support for media-feature-colon-space-before"
http://stylelint.io/user-guide/rules/media-feature-colon-space-before/

[2016-04-08 14:01] davidtheclark opened #118 "Add support for media-query-parentheses-space-inside"
http://stylelint.io/user-guide/rules/media-query-parentheses-space-inside/

[2016-04-08 14:01] davidtheclark opened #119 "Add support for media-query-list-comma-newline-after"
http://stylelint.io/user-guide/rules/media-query-list-comma-newline-after/

[2016-04-08 14:01] davidtheclark opened #120 "Add support for media-query-list-comma-space-after"
http://stylelint.io/user-guide/rules/media-query-list-comma-space-after/

[2016-04-08 14:01] davidtheclark opened #121 "Add support for media-query-list-comma-space-before"
http://stylelint.io/user-guide/rules/media-query-list-comma-space-before/

[2016-04-08 14:01] davidtheclark opened #122 "Add support for at-rule-empty-line-before"
http://stylelint.io/user-guide/rules/at-rule-empty-line-before/

[2016-04-08 14:02] davidtheclark opened #123 "Add support for at-rule-semicolon-newline-after"
http://stylelint.io/user-guide/rules/at-rule-semicolon-newline-after/

[2016-04-08 14:02] davidtheclark opened #124 "Add support for max-empty-lines"
http://stylelint.io/user-guide/rules/max-empty-lines/

[2016-04-08 14:02] davidtheclark commented on #92
Well, added a bunch! I'm sure there are more that could be done but I got tired :)

[2016-04-08 18:26] morishitter commented on #92
@davidtheclark Thank you so much! I will confirm them tomorrow :)

[2016-04-08 19:03] chrisblossom commented on #89
npm script ```"lint:css:fix": "stylefmt -R 'src/**/*.scss'",```

[code]

What command are you running?

[2016-04-09 05:28] azu commented on #81
Work fine. Thanks

[2016-04-09 05:28] #81 closed

[2016-04-12 02:07] DylanPiercey commented on #91
@morishitter I just realized that I didn't post this wrong place (thought it was in sublime-stylefmt). Thank you for creating an issue in the correct place and for your patience!

[2016-04-12 02:07] #91 closed

[2016-04-14 22:32] chrisblossom commented on #89
@morishitter is there another command I should try? Sorry, it seems like someone buried this issue with about 30 feature requests that should be inside one issue.

[2016-04-20 01:38] morishitter opened #125 "Support stylelint v6"
https://github.com/stylelint/stylelint/releases/tag/6.0.0

[2016-04-21 21:47] JaKXz opened #127 "stylefmt -R not going through all files"
My understanding is that running this command:

[code]

should affect all the css files in my `client/src` folder, but, only one file gets changed. There are definitely other files with fixable lint issues, but none of them are affected. Am I missing something?

[2016-04-22 00:48] morishitter commented on #127
Tkank you for your report. I'll confirm it.

[2016-04-22 14:56] chrisblossom commented on #127
I think I am having the same issue. https://github.com/morishitter/stylefmt/issues/89

[2016-04-22 21:12] cwick commented on #75
I'm trying to run `stylefmt` on my `.less` files, but it just outputs an empty file. I thought less was going to be automatically supported by virtue of the fact that `stylefmt` uses PostCSS, which does support `less`

[2016-04-23 07:55] mehcode opened #129 "Add support for stylelint extends (in the styelintrc)"
For instance (in stylelintrc):

[code]

What happens now:

[code]

[2016-04-26 01:45] #127 closed

[2016-04-26 01:49] morishitter commented on #127
Just released stylefmt v3.2.1 includes the commit fixed this bug. Please update and try it again.

[2016-04-26 01:51] morishitter commented on #89
@chrisblossom The bug seems to have fixed in v3.2.1. Please confirm it.

[2016-04-26 01:58] morishitter commented on #75
@cwick Now, stylefmt dose not support PostCSS syntax of Less. Sorry, please wait until the next minor update.

[2016-04-26 02:05] chrisblossom commented on #127
@morishitter thank you for fixing this. I got it working with the following command:

[code]

If i tried specifying the extension or the typical **/* syntax it did not work. Just a note for anyone else reading this and @JaKXz

[2016-04-26 02:07] chrisblossom commented on #89
Fixed in https://github.com/morishitter/stylefmt/commit/3fcb0c63e98b013bddcb72ffa9a42b7875ad5fbc. See https://github.com/morishitter/stylefmt/issues/127 for more details.

[2016-04-26 02:07] #89 closed

[2016-04-26 02:17] morishitter commented on #127
Oh, I understood. Now, stylefmt dose not support to point directories by wildcard. I will consider to support it.

[2016-04-26 02:20] chrisblossom commented on #127
@morishitter It would be consistent with most other libraries, including Stylelint and mocha to support the glob syntax. The current syntax works great for me, as long as it only changes *css files I am okay with it.

Thank you again. I appreciate the time and help.

[2016-04-27 17:29] Mottie commented on #82
Maybe the code used by [perfectionist](https://github.com/ben-eb/perfectionist) would help?

[2016-04-29 09:59] ntswor opened #132 "SCSS $variable will be changed to lowercase"
I have a view SCSS variables defined using camelCase, but those will be changed to lower case names only.
E.g.
[code]
will be changed to:
[code]
Note that only the first occurrence will be changed but not the second one. I would prefer if the SCSS $variable names wouldn't be changed at all since sometimes the rely on imported values where you have no access of changing them.

[2016-04-29 10:46] morishitter commented on #132
@ntswor Thank you for your report.

[2016-04-29 12:50] bahmutov commented on #129
same problem, but great tools - I started using the stylefmt + stylelint combination, just like using standard + standard-format for my JS code. Great job!

[2016-05-12 09:43] hejmartin opened #134 "Spaces are added inside font-family strings"
When running the following code through stylefmt@3.2.1, with default settings, using PostCSS, spaces gets added around the dash inside the font-family string.

Input:

    @font-face {
        font-family: "HelveticaNeueW02-45Ligh";
    }

Output:

    @font-face {
        font-family: "HelveticaNeueW02 - 45Ligh";
    }

[2016-05-13 20:25] robbyking3 commented on #75
@morishitter I've got it working with less fine, passing in a stylelint config file, and changing things throughout my less like indentation etc. The only thing I've noticed is inline styles that are multiline
such as
[code]
will become
[code]

No changes to my config file are affecting this output.

[2016-05-14 05:14] morishitter commented on #75
@robbyking3 Inline comments are used in SCSS syntax, so stylefmt can format it. Some Less syntaxes are used in the other one, but we cannot format all of Less code.

[2016-05-23 01:18] #129 closed

[2016-05-23 01:50] morishitter commented on #129
@mehcode @bahmutov Just released v3.3.0 to support stylelint extends, please update and confirm it :)

@seka Thank you for your work, bro!

[2016-05-24 05:53] frux opened #137 "Nested selectors wrong indention"
I have some css. And this is what I expected form stylefmt:
[code]

But what I've got:
[code]

Does stylefmt support nested selectors?

[2016-05-27 15:41] jasonlong commented on #3
I would love if this was reconsidered. If a user's `.stylelintrc` includes a `declaration-block-properties-order` section, they would presumably be ok with updating the sort order with `stylefmt`. I don't think the destructive argument makes sense here since the whole premise of this tool is to rewrite files.

FWIW, I've used CSScomb in the past, but it would be way nicer to be able to maintain a

[2016-05-30 06:25] morishitter commented on #3
@jasonlong Exactly. But, do you have any ideas to decide the declaration order with `@include` or `@extend` in SCSS code?
If there are no way to fix automatically without destructive changes, it's not the role of a formatter tool.

[2016-05-31 11:42] jasonlong commented on #3
I agree that rules shouldn't be moved around if they aren't specified in `declaration-block-properties-order`.

Ideally, the sort algorithm would reposition rules just enough to make stylelint pass. If stylelint doesn't care whether an `@extend` is at the top or bottom (or middle), then it should stay where it is.

I realize this is easier said than done, but I think this would be incredibly handy

[2016-05-31 12:29] mehcode commented on #3
Can we integrate https://github.com/hudochenkov/postcss-sorting somehow? It's not used in stylelint but it is used as part of my css format task and it'd be nice to just pass some sort of configuration into this one.

[2016-06-02 07:06] #132 closed

[2016-06-02 08:04] morishitter commented on #137
@frux Do you use stylefmt with stylelint? If that is the case, please show me your stylelint configuration file.

[2016-06-02 08:28] frux commented on #137
@morishitter I don't use stylelint but I have the following stylelint.config.js:
[code]

[2016-06-02 09:12] morishitter commented on #137
I see, thank you. I will fix it :)

[2016-06-03 08:54] #106 closed

[2016-06-03 08:54] #107 closed

[2016-06-06 01:01] #137 closed

[2016-06-07 07:34] frux opened #142 "opening brace of @keyframes block doesn't wrap to the next line"
I have the following stylelint.config.js:
[code]

But then I run stylefmt on the following code:
[code]
The opening brace of @keyframes block stills be not wrapped to the next line. It causes stylelint ``block-opening-brace-newline-before`` error.

[2016-06-07 09:34] morishitter commented on #142
@frux Thank you for your report. You expected the following code after formatting, right?

[code]

[2016-06-07 09:47] frux commented on #142
@morishitter Yes. Me and stylelint.

[2016-06-07 09:55] morishitter commented on #142
OK, I will fix it :)

[2016-06-07 10:42] #142 closed

[2016-06-07 10:46] morishitter commented on #142
@frux Just released stylefmt v3.4.1 that includes a bugfix in this issue. Please update it :)

[2016-06-07 10:48] frux commented on #142
@morishitter Thank you!

[2016-06-07 15:48] hejmartin opened #144 "Is it possible to explicitly point to a stylelint config file?"
I have a project where new css code shares repo with legacy code. I have the need to specify two different grunt tasks with different `.stylelintrc.json` files for linting, as the new code has stricter lint rules than the old code.

This is possible in stylelint by using the `configFile` option, but as far as I can tell stylefmt has no option for this. Is it something that could be added in a futu

[2016-06-08 03:01] morishitter commented on #144
@hejmartin Thank you for your report. If we can set option for the path of stylelint configuration file in the option of stylefmt, I think that it seems work well.

[2016-06-08 15:18] hejmartin opened #146 "Spaces inserted in attribute selectors"
I guess stylefmt thinks that the `~` is a general sibling combinator, and therefore inserts whitespace around it, but this breaks the attribute selector when using `~=`.

Input:
[code]

Output:
[code]

[2016-06-09 04:54] #146 closed

[2016-06-09 04:59] morishitter commented on #146
@hejmartin Just released stylefmt v3.4.2. Please update to latest version and confirm it. Thank you for your report :)

[2016-06-09 07:45] morishitter commented on #92
@davidtheclark stylefmt v3.4.2 supported color-hex-case rule. It is all to support color rules of stylelint as above. Thanks :)

[2016-06-09 07:45] #92 closed

[2016-06-09 10:46] #87 closed

[2016-06-09 11:28] davidtheclark commented on #92
@morishitter Don't forget to update the README to show the new rules. I think it will help people know what's available.

[2016-06-09 11:30] cbrwizard commented on #87
Thanks for fixing this, @morishitter!

[2016-06-09 14:07] morishitter commented on #92
I see, thank you.

[2016-06-10 02:04] morishitter commented on #113
Already supported.

[2016-06-10 02:04] #113 closed

[2016-06-10 02:04] morishitter commented on #114
Already supported.

[2016-06-10 02:04] #114 closed

[2016-06-10 02:04] morishitter commented on #115
Already supported.

[2016-06-10 02:04] #115 closed

[2016-06-13 04:53] athyuttamre opened #149 "Plugin for Visual Studio Code"
Has anyone made a plugin for VSCode? A lot of Typescript developers use it on a day to day basis, and would be awesome to link to it if someone has.

If not, I'll give it a shot. Would love any guidance if someone has experience authoring vscode plugins.

[2016-06-13 06:22] morishitter commented on #149
@athyuttamre OK, I will try to create it :)

[2016-06-13 06:52] athyuttamre commented on #149
Yay, thanks @morishitter! :D

[2016-06-13 06:52] athyuttamre commented on #149
Let me know if I can help in any way though, happy to contribute. (Although I don't have much experience with VSCode specifically, I don't imagine it being too hard.)

[2016-06-13 08:14] mrmlnc commented on #149
Can I make this plugin. Tonight or tomorrow morning.

[2016-06-13 09:15] morishitter commented on #149
@mrmlnc Actually, I have never created VSCode plugins. Please give me your help. Thanks :D

[2016-06-14 16:22] mrmlnc commented on #149
Waiting for #151

[2016-06-14 19:38] s10wen opened #152 "Using custom rules with the cli?"
Wondering if via the https://github.com/morishitter/stylefmt#in-command-line it's possible to pass a custom file like `.stylefmt` with your own https://github.com/morishitter/stylefmt#basic rules?

Or, as I'm using `.stylelintrc` if it's possible to pass the stylelintrc path for it to use?

[2016-06-14 19:40] mrmlnc commented on #149
@morishitter, @athyuttamre done.

Marketplace: https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-stylefmt
GitHub: https://github.com/mrmlnc/vscode-stylefmt

For installation use: `F1 -> ext install -> stylefmt` or `code --install-extension mrmlnc.stylefmt` in terminal.

[2016-06-15 01:15] morishitter commented on #149
@mrmlnc Good stuff! Thanks :D

[2016-06-15 01:22] morishitter commented on #152
@s10wen Where did you install stylfmt? If you installed as `-g` option, it might not work well.

OK, I will implement `--stylelintPath` option to set the path of stylelint configuration file.

Thanks.

[2016-06-15 01:23] morishitter opened #154 "Add an option to set the path of stylelint configuration file"
Related to https://github.com/morishitter/stylefmt/issues/152, #144

[2016-06-15 01:25] #149 closed

[2016-06-15 04:14] athyuttamre commented on #149
Ahh this is amazing, thanks @mrmInc!

[2016-06-15 07:50] s10wen commented on #152
@morishitter yeah I installed it globally for now. Ideally I'd like to be local as part of a repo.

Awesome, cheers! Let me know if you want me to test a branch.

[2016-06-15 10:53] almeric opened #155 "Indentation in sass maps"
`stylefmt` reformats sass maps making them hard to read.

For example this map:

[code]

Is formatted to:

[code]

It seems `stylelint` ignores sass maps since https://github.com/stylelint/stylelint/pull/1191, maybe `stylefmt` should too?

[2016-06-16 08:58] morishitter commented on #144
@hejmartin Just released v3.5.0 that includes `--config` option to specify the path of stylelint configration file. Please update and confirm it :)

[2016-06-16 08:58] #144 closed

[2016-06-16 10:10] morishitter commented on #152
@s10wen Just released v3.5.0 that includes `--config` option to specify the path of stylelint configration file. Please update and confirm it :)

[2016-06-16 10:10] #152 closed

[2016-06-16 10:10] #154 closed

[2016-06-16 10:11] morishitter commented on #155
@almeric I see, I will fix it.

[2016-06-16 11:06] almeric commented on #155
Thanks!

[2016-06-16 13:27] s10wen commented on #152
@morishitter I'm on 3.5.0 and created a 'test.css':

[code]

and a `.stylelintrc`:
[code]

I then did `stylefmt test.css -c .stylelintrc`, but I get:
[code]

I would expect it to look at the config file and update the hex, but not the indentation. Any ideas?

[2016-06-16 16:51] morishitter commented on #152
@s10wen It formatted the string to lowercase (`#FFF` -> `#fff`). It seems correct. 🤔

[2016-06-16 18:06] s10wen commented on #152
But it also did the indentation that I hadn't set.

[2016-06-17 05:59] morishitter opened #157 "Define default format rules in stylelint configuration file"
I will create stylelint-config-stylefmt package or `.stylelintrc` in this repository.

[2016-06-21 10:40] morishitter commented on #152
@s10wen Oh, I see. stylefmt formats string according to a stylelint configuration file, but if there are no rules for formatting code parts (e.g. `block-opening-brace-space-after`, `indentation`), we can get [default formatting rules](https://github.com/morishitter/stylefmt#default-formatting-rules-without-stylelint-config-file). So, you got 2 spaces indentation after running stylefmt.

May I ask

[2016-06-21 14:20] s10wen commented on #152
@morishitter ah I understand, thanks. Is there a way to set it so it doesn't pick up the default rules?

[2016-06-22 03:48] morishitter commented on #152
@s10wen This problem seems the same as https://github.com/morishitter/stylefmt/issues/86 .

[2016-06-22 07:17] s10wen commented on #152
@morishitter yep! Something like that would be great :)

[2016-06-22 07:33] s10wen commented on #86
@cbrwizard nice idea, I'd be interested in this as well.

[2016-06-22 10:33] morishitter opened #158 "Remove the default formatting rules for comments"
We write comments in a lot of formats and contexts, so I'm thinking of trying to remove the following default formatting rules for comments.

- leave 1 blank line before comments
- require a new line between a comment and rules

What do you think?

[2016-06-23 09:52] #158 closed

[2016-07-02 10:53] #3 closed

[2016-07-06 09:14] JounQin opened #163 "Add support for color-hex-length"
http://stylelint.io/user-guide/rules/color-hex-length/

[2016-07-10 14:04] #101 closed

[2016-07-11 10:07] Tom910 commented on #75
@morishitter Planned to add syntax less?

[2016-07-11 10:51] wroughtec opened #165 "TypeError: group.forEach is not a function"
Running from the command line (or postcss)

[code]

[2016-07-11 10:58] mrmlnc commented on #165
See https://github.com/hudochenkov/postcss-sorting/issues/32

[2016-07-14 11:59] hudochenkov commented on #125
It's [`7.0.1`](https://github.com/stylelint/stylelint/releases/tag/7.0.1) already :)

[2016-07-14 12:25] gjjones commented on #86
This tool is a strong candidate at my organization, but the enforcement of default rules is a current point of contention. Stylelint does explicitly state that rules are off by default, where as stylefmt will have default values applied for rules even if they are omitted. This seems to be a design difference between stylefmt and the project it is based off of.

Are there plans to realign this diff

[2016-07-14 12:39] hudochenkov opened #166 "User's local .stylelintrc have influence on npm test"
I just pull this repository, then `npm install` and then run tests `npm test`. Half of the tests was failing. It's really weird, because Travis shows that test is ok.

Almost all tests have problems with indentation:

[code]

I found the root of the problem. I have `.stylelintrc` in my user directory (`/Users/aleks/.stylelintrc`). Since stylefmt support config in this location it use this config i

[2016-07-15 11:44] wroughtec opened #168 "Rules breaking class names"
I use classes with symbols so developers now what breakpoints the class should effect ie:
[code]

However when I run stylefmt this is causing the class to put spaces before and after the >:
[code]

Which obviously breaks the class name. This is caused by:
"selector-combinator-space-after": "always",
"selector-combinator-space-before": "always",

When I run this class through stylelint on CLI it do

[2016-07-15 12:40] jeddy3 commented on #168
@morishitter FYI, at stylelint we mainly rely on the following sub-parsers:

- [`postcss-selector-parser`](https://github.com/postcss/postcss-selector-parser)
- [`postcss-value-parser`](https://github.com/TrySound/postcss-value-parser)
- [`postcss-media-query-parser`](https://github.com/dryoma/postcss-media-query-parser)

[2016-07-20 07:43] #165 closed

[2016-07-20 08:06] morishitter commented on #166
@hudochenkov fmm.. stylefmt should refer the closest `.stylelintrc` using cosmiconfig. (https://github.com/morishitter/stylefmt/blob/master/lib/params.js#L38-L59)

I will investigate the cause.

Thanks.

[2016-07-20 19:45] ryanheathers opened #169 "Rules undesirably removing blank lines around @import rules"
My Sass file contains a number of `@import` rules. Stylefmt is undesirably removing any blank lines above/below these rules.

I'm using Stylelint's [at-rule-empty-line-before](https://github.com/stylelint/stylelint/blob/master/src/rules/at-rule-empty-line-before/README.md) rule  and I've configured it to ignore `@import` rules, but it appears to have no effect on Stylefmt's processing. I saw there

[2016-07-21 16:38] iblack10 opened #170 "Unable to format using stylelint rules with severities"
I've been using different severities for rules as per the stylelint docs: https://github.com/stylelint/stylelint/blob/d2166dfbcdefefacafd27afd5993ec8341c3b45e/docs/user-guide/configuration.md#severities-error--warning but it seems these are not compatible with stylefmt just now:

"indentation": [4, { "severity": "error" }]

That doesn't work - but this does:

"indentation": 4

[2016-07-27 13:05] kachkaev commented on #118
The rule no longer exists

[2016-07-27 13:16] jeddy3 commented on #118
Now http://stylelint.io/user-guide/rules/media-feature-parentheses-space-inside/

[2016-07-27 13:17] ntwb commented on #118
I started typing and that appeared ^^^ ;)

[2016-07-28 04:40] #170 closed

[2016-07-29 02:05] morishitter commented on #86
Now, stylefmt can handle [many stylelint rules](https://github.com/morishitter/stylefmt#stylelint-rules-that-stylefmt-can-handle), so I decided to implement `--onlyStylelint` option. :)

[2016-08-01 13:15] cvle opened #174 "Make stylefmt compatible with vim-autoformat"
Using `stylefmt` like `echo "invalid-css" | stylefmt` results in a an empty output with zero exit code. `stylefmt` should emit a best effort format or just the invalid css. This would be in line with other formatters and stylefmt could be integrated in [vim-autoformat](https://github.com/Chiel92/vim-autoformat). Currently [vim-stylefmt](https://github.com/kewah/vim-stylefmt) is unusable because of

[2016-08-03 20:10] Zzzlaya opened #175 ""declaration-block-properties-order" rule is not the same rule that stylelint uses."
### The issue is as described below:
I set up `"declaration-block-properties-order"` rule in my `.stylelintrc` according to [Stylelint documentation.](http://stylelint.io/user-guide/rules/declaration-block-properties-order/). It did not work as I expected, i.e.
[code]
was just being ignored by stylefmt.

Then I found out that according to [this PR](https://github.com/morishitter/stylefmt/commit/d9

[2016-08-09 14:25] ArmorDarks opened #176 "Disabled `indentation` rule yields TypeError"
Seems that Stylefmt CLI doesn't recognise disabled Stylelint `indentation` rule in `.stylelintrc` because of `null`.

Example:

[code]

Yields

[code]

Please, note that `null` is suggested by Stylelint [way of disabling rules](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#rules)

[2016-08-09 14:34] ArmorDarks commented on #86
Same issue here. It makes Stylefmt format all places, which are acceptable by Stylelint config file.

It would be great to see `--onlyStylelint`, but I'd say it would be more appropriate to make external config file mandatory and instead add `--defaultRules` which will apply default rules, because so far Stylefmt goings against Stylelint paradigm, where config isn't default, but completely declara

[2016-08-10 04:15] saiichihashimoto opened #177 "block-opening-brace-space-before with custom at-rule fails"
I'm using a custom at-rule with postcss, stylefmt, stylelint, and stylelint-config-standard. No matter what I do, stylefmt keeps making:

[code]

into:

[code]

And then stylelint fails. Is this a bug or am I using it wrong?

[2016-08-10 08:39] s10wen commented on #86
I'd like to see `stylefmt` have no rules set by default, then you can choose to enable the rules in the `.stylelintrc` / stylefmt as required.

[2016-08-10 09:52] Bubbi opened #178 "stylefmt ignores .stylelintrc"
I am using the atom package stylefmt, but when formatting the css and scss code, it doesn't respect the .stylelintrc file in my project. It formats the files using standard rules of some kind.

I don't know if it actually reads the local .stylelintrc file and then just ignores some rules or if it uses a totally different config.

How can I see which config is used?

example of a thing that should

[2016-08-10 18:08] ryanheathers commented on #168
I'm running into a similar issue with stylefmt breaking url paths. Example from Sass file:

`$assetpath: '//s3.amazon.com/21-500/'`

will result in Stylefmt turning it into

`$assetpath: '//s3.amazon.com/21 - 500/'`

Obviously this breaks the url entirely. I'm not sure if the issue is with the `"selector-combinator-space-after": "always"` and `"selector-combinator-space-before": "always"` rules, o

[2016-08-12 09:03] hejmartin commented on #144
@morishitter Nice! Seems to be mostly working, but I noticed that if I have an "extends"-declaration in one file, and an indentation rule in the file I'm extending, the indendation rule will not be applied.

[code]

[code]

Instead, stylefmt will use the default of two spaces for indentation.

[2016-08-12 09:19] hejmartin commented on #144
@morishitter This seems to be true for other rules as well, such as `string-quotes`. I can work around it by copying rules from my base config file, but it would be nice if it worked.

[2016-08-12 11:23] hejmartin commented on #101
@morishitter Quotes are only fixed in property values, not in selectors.

Running stylefmt with `"string-quotes": "double"`:

[code]

[code]

[2016-08-15 15:06] paazmaya opened #180 "TypeError: repeat-string expects a string"
stylefmt: 4.2.3
Node.js: 6.3.1
OS: macOS

Input CSS:

[code]

Command:

[code]

Result:

[code]

[2016-08-15 15:10] paazmaya commented on #180
When configuration is specified:

[code]

and the contents of `stylelint-rule.js` are:

[code]

The CSS file is unchanged.

[2016-08-15 15:11] paazmaya commented on #180
In case the expected configuration file is not found, complain and stop processing.

[2016-08-16 06:10] paazmaya opened #182 "Add ESLint for JavaScript linting"
There seems to be no linting in place...

http://eslint.org/docs/user-guide/configuring#using-eslintrecommended

PR will follow :santa:

[2016-08-16 06:55] paazmaya opened #184 "Define minimum supported Node.js version"
While Travis CI seems to run tests against Node.js version 0.12, 4, and 6, would it make sense to define the minimum supported version via package.json?

Also, the support for version 0.12 ends in the end of this year, so might make sense just to drop it.
https://github.com/nodejs/LTS/

Since this is a command line tool, would it be reasonable to expect the user to have some more fresh version ava

[2016-08-16 07:07] ntwb commented on #184
stylelint itself requires `>=4.2.1` (NodeJS 4.x LTS branch), https://github.com/stylelint/stylelint/blob/master/package.json#L31-L33

I'd suggest bumping the minimum to `4.2.1` and dropping NodeJS 0.12.x

[2016-08-16 08:57] paazmaya opened #186 "Extends only one level while should extend until there is no more to be extended"
Seems that `extends` is followed only on one occasions, while it is possible to have recursive extends in place.

[2016-08-16 13:46] paazmaya commented on #186
Strangely I need to use the given configuration which contains the rule in question to be applied, while using a configuration file that extends the previous is not working...

Perhaps related to #178

[2016-08-17 10:24] paazmaya commented on #184
Now the minimum version is specified in `package.json`, but #183 is also pointing out that ESLint does not support 0.12.

How about then changing the minimum to `4.2.0` ?

[2016-08-24 04:36] morishitter commented on #184
@paazmaya OK, let's drop to support `0.12` :)

[2016-08-24 11:53] paazmaya commented on #184
Great!

[2016-08-24 17:30] #184 closed

[2016-08-26 05:57] #182 closed

[2016-08-26 12:03] irok opened #193 "selector-list-comma-* まわりの出力が思ったようにいきません"
セレクタを複数指定するときに、一行で書いてるとこと複数行で書いてるところがあって、どちらもそのままにしたいのですが、どう設定をいじっても一行または複数行に統一されてしまいます。

[code]

.stylelintrc は以下のようになってます。（stylelintはこれで通ります。）

[code]
※`selector-list-comma-newline-before`は未指定です

環境は Node 4.4.2, stylefmt 4.2.3, gulp-postcss 6.1.1 (postcss 5.1.1) です。

[2016-08-26 12:31] irok commented on #193
コード見ていたのですが、もし [lib/formatSelectors.js](https://github.com/morishitter/stylefmt/blob/master/lib/formatSelectors.js) の isSingleLine が、
[code]
の場合は true
[code]
の場合は false になるのが正しいのだとすれば、そうなっていないのが原因な気がします。

[lib/formatSelectors.js#L19](https://github.com/morishitter/stylefmt/blob/master/lib/formatSelectors.js#L19) を見ると、`!tmp[1].match('\n')`で改行の有無を見て isSingleLine に true を設定していますが、`rule.selectors`の各要素

[2016-08-26 12:39] irok commented on #193
とはいえ、それだけでは思ったとおりの出力は得られず、separator の構築部分もいじる必要がありそうでした。

[2016-08-26 12:52] iblack10 commented on #122
I've started working on this rule. @morishitter do you want me to remove the default values that you have set? There is discussion in #86 to remove all default settings and only follow the rules defined in the .styelintrc

[2016-08-29 14:07] Braden1996 opened #195 "Unnecessary Change Breaks CSS"
I am having issues making this compatible with [Lost](https://github.com/peterramsing/lost).

The following property:
[code]

... is being formatted to:
[code]

Stylelint doesn't seem to throw any errors about this format, so why is stylefmt attempting to correct it?

[2016-08-30 04:03] morishitter commented on #195
@Braden1996 It's the default formatting rules of stylefmt. Is formatted code not be able to run with Lost?

[2016-08-30 05:47] seka commented on #193
stylefmt は `.stylelintrc` などの stylelint の config ファイルがプロジェクトに含まれていた場合に、stylelint から警告が発生しないように css を整形します。

`.stylelintrc` の設定通りに css が整形されないというご報告だと思うのですが、`.stylelintrc` は stylefmt の設定ファイルではないということをご理解頂ければと思います 🙇

[2016-08-30 08:30] Braden1996 commented on #195
Well, `lost-column` has optional arguments which are space-separated. So, it seems to be passing three arguments (`1`, `/` and `2`) instead of just the one fraction argument (`1/2`).

[2016-08-30 16:20] #122 closed

[2016-09-01 00:35] irok commented on #193
ご回答ありがとうございます。
stylefmt の開発方針というか目的というか、その辺りをよく理解できていませんでした。
好みのスタイルに整形するツールではないということですね。目的に合わせて使うようにします。

[2016-09-01 00:35] #193 closed

[2016-09-05 19:14] vansosnin commented on #100
Done https://github.com/morishitter/stylefmt/pull/198

[2016-09-05 19:14] vansosnin commented on #99
Done https://github.com/morishitter/stylefmt/pull/198

[2016-09-05 19:15] vansosnin commented on #163
Done https://github.com/morishitter/stylefmt/pull/181

[2016-09-06 02:57] #163 closed

[2016-09-06 02:57] #100 closed

[2016-09-06 02:58] #99 closed

[2016-09-07 10:11] dmarchena opened #200 "Unnecessary custom selectors logging"
I don't understand why we need this `console.log` in  `formatAtRuleParams.js`. It prints my custom selectors mixed with stylelint messages. Its quite dirty and useless, isn't it?

[code]

https://github.com/morishitter/stylefmt/blob/master/lib/formatAtRuleParams.js#L90

Remove that line or add a silent mode, please. Thanks! :-)

[2016-09-09 01:57] serGlazkov opened #201 "shorthand-property-no-redundant-values error"
After using stylefmt, stylelint say me about error
`Unexpected longhand value '15px 0 25px 0' instead of '15px 0 25px' (shorthand-property-no-redundant-values) [stylelint]"`

[2016-09-09 22:42] serGlazkov commented on #201
Find a problem. This rule not in release now.

[2016-09-09 22:42] #201 closed

[2016-09-12 19:45] tinovyatkin commented on #195
it even worst as it breaks SCSS variables names, like:
`padding-bottom: $ratio-4-3;`
into wrong:
`padding-bottom: $ratio-4 - 3;`

`stylelint` have no problem with this line, why change it?

[2016-09-14 12:47] Bubbi commented on #178
@paazmaya, hmm.. I've updated to the latest version and now it works a bit better, but still not fully..

Without having changed the .stylelintrc file, it now reads the beforementioned
"color-hex-case": "upper",

But it seems like it still ignores some other rules defined in the file.
among these, are:

[code]

I don't know if you need some debug info - if so, how do I get it?

[2016-09-14 12:59] Bubbi commented on #178
By the way, I have tried to move the individual rules up to the top of the file, just in case that it was because of an error in the file. but they are still not being respected.

[2016-09-14 16:25] gajus opened #203 "Add empty line before src in font-face declaration"
I am using [stylelint-config-standard](https://github.com/stylelint/stylelint-config-standard).

Given the following CSS:

[code]

`stylefmt` converts it to:

[code]

which then causes an error in `stylelint`:

[code]

[2016-09-14 16:31] gajus opened #204 "Setup bountysource"
https://www.bountysource.com/

So that people who are too lazy to contribute could at least donate.

[2016-09-15 04:12] gajus commented on #175
@morishitter Please mark this with an appropriate label, e.g. "incompatibility with stylelint" so that it wouldn't get lost.

[2016-09-15 09:17] ivancuric opened #205 "Stylefmt not fixing `number-leading-zero` issues"
Using stylefmt 4.30 and the following .stylelintrc in the root folder:

[code]

I expected that running `stylefmt` would add the leading zeroes where needed (`stylelint` reports it correctly), but nothing happens. The rest works fine.

[2016-09-15 09:22] serGlazkov opened #206 "@each empty line before"
stylefmt delete empty line before @each and stylelint say it's wrong

[2016-09-15 10:36] irok opened #207 "extendsで指定したルールが反映されません"
`.stylelintrc` が以下のとき、期待するルールは「`stylelint-config-standard` の全設定＋`indentation: 4`」というものですが、実際には `indentation: 4` のみのルールとして動作しているようです。

[code]

ソースを読んだところ、`extends` のルールとのマージは [lib/params.js#L82](https://github.com/morishitter/stylefmt/blob/master/lib/params.js#L82) で行われていますが、ここで使われている [object-assign](https://github.com/sindresorhus/object-assign) は再帰的なマージを行わないため、`params.stylelint`が`originParams.sty

[2016-09-15 10:54] irok opened #208 "number-no-trailing-zeros への対応が不完全です"
[code]
のようなCSSがあるとき、`number-no-trailing-zeros: true` になっていると
[code]
となってしまいます。

[lib/formatZeros.js#L18](https://github.com/morishitter/stylefmt/blob/master/lib/formatZeros.js#L18) を以下のように変更すれば直るかと思います。

[code]

[2016-09-15 11:06] iblack10 commented on #169
This issue may have been fixed with https://github.com/morishitter/stylefmt/pull/194 which added partial support for "at-rule-empty-line-before".

[2016-09-15 18:05] olegshilov commented on #208
have the same issue.
[code]
after format turn into this:
[code]

[2016-09-16 01:51] #208 closed

[2016-09-16 01:51] morishitter commented on #208
@irok Thank you for your report 👍

[2016-09-17 15:02] f0rr0 opened #210 "comment-empty-line-before ignored?"
Using `stylelint-config-standard`, `stylelint` shows the following errors:

[code]

But running `stylefmt` does not fix the errors.

The css file looks like:

[code]

[2016-09-17 15:26] iblack10 commented on #210
The rule "comment-empty-line-before" has not yet been implemented for stylefmt.

[2016-09-20 13:30] mik01aj opened #211 "stylefmt removes comments within selectors"
Like this:
![image](https://cloud.githubusercontent.com/assets/3027415/18672123/1fe4e9ea-7f47-11e6-9b62-15ab7776f7f5.png)

I am aware that this code is ugly, but in any case, the comment shouldn't be removed.

[2016-09-20 16:05] spectrus opened #212 "help: rule(s) to ignore newline after coma in SCSS?"
I have the following SCSS I do not want to be formatted:

[code]

Is there a rule/combination of rules to leave this alone? I tried various combinations of `at-rule-empty-line-before`, `selector-list-comma-newline-after`, `selector-list-comma-newline-before` - to no avail so far.

[2016-09-29 20:12] matheusdavidson commented on #38
still not working!
@import and @media seems to bug..

[2016-09-30 08:21] hudochenkov opened #214 "State of stylefmt"
Stylefmt position itself as a tool, which changes CSS according to stylelint's config. But it's not entirely accurate. Stylefmt has opinionated default settings, which applies regardless stylelint's config. For example, I have a stylelint config which has almost every stylelint rule configured. Stylefmt regardless settings put empty lines between rules (both nested and in root) and make a multilin

[2016-09-30 08:27] hudochenkov commented on #175
stylefmt supports groups as they described in stylelint's docs:

[code]

`alphabetical` order is not supported yet.

Please don't use postcss-sorting keywords in stylelint config, because it's a hack and not a valid values for stylelint and stylefmt. You can safely use postcss-sorting after stylefmt with all its features, though :)

[2016-10-02 03:39] arianraptor opened #215 "color-hex-case: upper break stylelint"
Hello is there anyway to prevent `"color-hex-case": "upper"` transform the named color and not make the `rgba` uppercase also?

![Screenshot](http://i.imgur.com/xo6qc51.png)

It shown Stylelint error when `rgba` became uppercase, i change `function-name-case` to uppercase `url` i must change it to uppercase which looks bad 😆

Thank you 🍺

[2016-10-02 07:48] morishitter commented on #214
@hudochenkov I will try to refactor all stylefmt's code and all of its default rules read from the original stylelint config (e.g. stylelint-config-stylefmt) on the next major version.

I need more contributors :)

[2016-10-02 08:02] morishitter opened #216 "A load map of stylefmt v5"
- get rid of default formatting rules
 - optionaly, we can load it from stylelint-config-stylefmt
- support almost all stylelint rules related to the formatting
- refactoring
 - drop node v4?
- craft landing page on gh-pages

[2016-10-02 09:07] hudochenkov commented on #214
It's great! I would like to help with `declaration-block-properties-order`. This rule formatter is based on my postcss-sorting, and because of these there some side effects. For example, postcss-sorting removes all empty lines. And some others side effects.

I'll release next version of postcss-sorting with ability to sort rules without side effects, so it will fit better in stylefmt. With this ve

[2016-10-02 09:15] hudochenkov commented on #216
I propose to change code structure to stylelint like. Where each rule has separate directory for its code and tests.

I think it can be done after v5 release. I propose to fix and check all already supported rules first. Better to have few rules, but rely on them, then have a lot of them, but don't trust them.

[2016-10-02 12:49] lkraav commented on #214
This also took me a while to understand. Perhaps this should be reflected in README with more emphasis to avoid wasting time.

[2016-10-02 13:22] lkraav commented on #178
Pretty sure this is a duplicate of either #157 and #214

[2016-10-02 13:23] lkraav commented on #214
I see several issues addressing this already, #157 for example. Good to know it's coming.

[2016-10-10 09:43] emri99 opened #217 "Remove comments at the end of selector"
Hi,

Just found that comments are removed when they are placed at the end of a css rule:

[code]

This happens only when there is no other rules (nested or not) after.

_Rules used_
[code]

_Packages versions_
[code]

[2016-10-10 10:00] gucong3000 opened #218 "Can't load config when rule value is array"
When i use config like this, `stylefmt` con't load value of `number-no-trailing-zeros`

[code]

[2016-10-14 00:35] ryanheathers commented on #169
@iblack10 your PR fixed the issue for me, many thanks!

[2016-10-14 00:35] #169 closed

[2016-10-14 04:02] gucong3000 opened #219 "Supports all stylelint options"
## Examples

[code]

[code]

[2016-10-14 05:27] gucong3000 opened #220 "rules that not found in `stylelint` configuration file, should extends from `editorconfig`"
- [indentation](http://stylelint.io/user-guide/rules/indentation/)
  - [no-missing-end-of-source-newline](http://stylelint.io/user-guide/rules/no-missing-end-of-source-newline/)
  - [no-eol-whitespace](http://stylelint.io/user-guide/rules/no-eol-whitespace/)

When these rules can not be read, or the value is empty, we should get the configuration from the `editorconfig`

[2016-10-14 07:41] dcro opened #222 "Add support for .stylelintignore or other ability to ignore files"
stylefmt does not currently support stylelint's `.stylelintignore` file that specifies which files should be excluded from linting.

It would be great to have the ability to ignore some files when doing a recursive fix, either by automatically parsing any existing `.stylelintignore` file or by supporting a `.stylefmtignore` file.

[2016-10-14 23:14] ryanheathers commented on #169
I should note that this partial fix addresses the initial **@import** issue, but it causes other issues because it doesn't fully support all the `except` and `ignore` cases that the [at-rule-empty-line-before](http://stylelint.io/user-guide/rules/at-rule-empty-line-before/) provides. It'll be great when this rule is fully supported. Thanks for the work so far though!

[2016-10-15 09:21] iblack10 commented on #169
No problem Ryan. I've actually added nearly all of the remaining functionality in pull request #213 so hopefully it can be accepted soon.

[2016-10-18 05:09] gucong3000 commented on #222
Has been supported `.stylelintignore` in #221

[2016-10-18 05:10] noahehall opened #223 "how to specify multiple files in cli?"
./node_modules/.bin/stylefmt -d -R ./src/*_/_.css

gives error: cannot read property forEach of undefined

[2016-10-18 05:12] gucong3000 commented on #222
@dcro Can you help me to do a test?

Install is fork.
[code]
then test your case.

[2016-10-18 06:28] dcro commented on #222
@gucong3000 I've installed that fork and ran a test but it also modified files which stylelint ignores.

My directory setup is similar to the following:

[code]

`.stylelintignore` is configured to ignore everything under `assets/sass/third-party` as those files come from a third-party provider and I need to keep them unchanged to be able to easily update them an track the changes each update intr

[2016-10-18 06:30] gucong3000 commented on #222
@dcro Wait a minute, I'll create a new branch.

[2016-10-18 07:12] gucong3000 commented on #222
@dcro try this branch:

[code]

[2016-10-18 07:31] gucong3000 commented on #223
[code]

`  -l, --list             format list of space seperated files in place`

[2016-10-18 07:42] dcro commented on #222
This latest branch works great, it ignored all the files it was supposed to and it processed the rest.

[2016-10-18 07:53] gucong3000 commented on #166
@hudochenkov , Can you help me do a test?
Pull [this branch](https://github.com/gucong3000/stylefmt/tree/sync_stylelint_api) and try again.

[2016-10-18 08:02] hudochenkov commented on #166
It doesn't work.

![image](https://cloud.githubusercontent.com/assets/654597/19469006/1f052530-9522-11e6-9b1b-98fb2b8fe2f2.png)

You can try it. Create `~/.stylelintrc`:

[code]

[2016-10-18 08:33] gucong3000 commented on #166
@hudochenkov
I was Create `%HOME%\.stylelintrc:` in Windows
It is work fine.
Did you forget to delete the `node-modules` and run `npm i` ?

[2016-10-18 08:35] hudochenkov commented on #166
@gucong3000 I never had your fork, so it's a clean install.

[2016-10-18 10:41] gucong3000 commented on #222
My wife will have a baby tomorrow, I will come back a month later.

[2016-10-18 10:41] gucong3000 commented on #166
My wife will have a baby tomorrow, I will come back a month later.

[2016-10-18 10:42] hudochenkov commented on #166
@gucong3000 congratulations!

[2016-10-18 17:52] noahehall commented on #223
hi @gucong3000

i do not have a separeted list of files, is it possible to send in a glob

./node_modules/.bin/stylefmt -d -R ./src/***/*.css

[2016-10-18 22:57] t0lkman opened #224 "redundant space for css mixin rules"
before: @mixin menuIcon pageFlow;
after: @mixin menuIcon pageFlow ;

who does it add space before semicolon? Is there anyway to change the behavior ?

[2016-10-19 11:27] okonet opened #225 "Support postcss-sorting options"
https://github.com/hudochenkov/postcss-sorting has a variety of options but there is no way to set them at the moment. It would be great to be able to specify these options along with the rule.

cc @hudochenkov

[2016-10-19 13:19] hudochenkov commented on #225
It's a bad idea. Please read this thread https://github.com/morishitter/stylefmt/issues/214 stylefmt going to support stylelint's options only.

Current version postcss-sorting not quiet suitable for stylefmt, because it makes destructive changes not related to sort order. Like deleting all empty lines. I'm working on a new version which will be more suitable for stylefmt.

[2016-10-19 13:20] okonet commented on #225
Can I track progress or even help with the new version somewhere?

[2016-10-19 13:24] hudochenkov commented on #225
@okonet thank you for you offer! I didn't start yet, but I have a plan and going to start working on it in a few days. I'll create an issue in postcss-sorting repository with a plan and will mention you, maybe you'll have something to add to that plan :)

[2016-10-19 13:36] okonet commented on #225
Great! Looking forward to it.

[2016-10-19 13:36] #225 closed

[2016-10-22 15:28] macgyver commented on #214
@morishitter I'd love to contribute but it seems like the basic architecture is in flux right now - is there a way to contribute in a small way that won't conflict with the greater changes on the roadmap? Some oss projects like to add labels such as "good beginner ticket" to issues...

[2016-10-23 02:29] in-in opened #226 "Stylefmt breaks multiline formatting"
[code]

[code]

My _.stylelintrc_

[code]

I use _gulp-stylefmt@1.0.0_

[2016-10-23 04:27] morishitter commented on #226
@in-in where is broken?

[2016-10-23 04:46] in-in commented on #226
According to the issue #216 you want to fix it in the next version?

[2016-10-24 06:27] morishitter commented on #214
@macgyver stylefmt is not large project like facebook/flux, so feel free to send me PR :)

[2016-10-25 19:39] fulls1z3 commented on #177
I was googling for the same issue, and I think it would be useful to post here. I am reproducing the same issue.

Using custom @-rule with postcss, stylefmt, stylelint, and stylelint-config-standard. The following block represents the original SCSS source.

[code]

The space before the brace ("{") gets removed at the stylefmt output, as follows:

[code]

Is there anyone else facing the same issue,

[2016-10-31 16:20] paazmaya opened #229 "Use .npmignore or files property in package.json to exclude test files"
`package.json` allows to define which files are included in the npm package via `files` property.

This is useful when for example `test` files are not wanted to be in the package, which I am assuming is the most common case.

Will do a PR to demonstrate it....

[2016-11-02 03:51] #229 closed

[2016-11-02 08:20] irok commented on #207
この問題は解決難しいのでしょうか？優先度の問題ですか？
自社用の共通 config を定義していて、それをサイトごとに extentds してカスタマイズしているのですが、共通 config の設定が一切無視されてしまうのです。

[2016-11-06 02:41] emri99 commented on #177
I'm having same problem @fulls1z3

[2016-11-10 22:50] hudochenkov commented on #216
If it's not supported in v4, it need to support stylelint plugins. For example, `declaration-block-properties-order` will be [deprecated](https://github.com/stylelint/stylelint/issues/2035) and users will use [stylelint-order](https://github.com/hudochenkov/stylelint-order) plugin instead.

[2016-11-11 03:23] irok commented on #207
v4.4.0 では stylelint の config parser を使うようになり、上記の問題が解決したことを確認しました。

[2016-11-11 03:23] #207 closed

[2016-11-11 07:53] gucong3000 commented on #178
Fixed in `atom-stylefmt`
See: https://github.com/1000ch/atom-stylefmt/pull/15

[2016-11-15 01:51] gucong3000 commented on #223
LGM, I will push a PR to support glob

[2016-11-15 02:52] #219 closed

[2016-11-15 02:54] #218 closed

[2016-11-15 03:05] gucong3000 commented on #220
PR #221 was merged, but we discard the features in this issue.

I want users use this configuration file:
[code]
In this case, users can clearly express the hope that the use configuration of `editorconfig`.

[2016-11-15 03:16] gucong3000 commented on #166
@hudochenkov
Fixed in master branch.

[2016-11-15 03:21] gucong3000 commented on #125
Already supported `7.5.0` in master branch.

[2016-11-15 03:31] gucong3000 commented on #157
I'm using `stylelint-config-standard`, there seems to be no problem.

[2016-11-15 10:57] hudochenkov commented on #166
Thank you!

[2016-11-15 14:36] noahehall commented on #223
Awesome!

[2016-11-16 01:42] gucong3000 commented on #223
Already support glob in #232

@noahehall , you can have a try.
[code]

[2016-11-16 03:19] #166 closed

[2016-11-16 08:20] gucong3000 commented on #222
support in PR #231

[2016-11-16 10:04] morishitter commented on #216
@hudochenkov Thank you for your advise. Could you tell me the me advantages to use stylelint-order instead of `declaration-block-properties-order` rule ? :)

[2016-11-16 10:14] morishitter commented on #216
c.f. https://github.com/morishitter/stylefmt/pull/232#issuecomment-260906321

The changes in https://github.com/morishitter/stylefmt/pull/232 are incompatible, so I plant to do [these changes](https://github.com/morishitter/stylefmt/issues/216#issue-180500987) in next major version (v6)

[2016-11-16 10:31] hudochenkov commented on #216
@morishitter `stylelint@8.0.0` won't have `declaration-block-properties-order`, so the only option to specify some order — use `stylelint-order`. Plus it contains more rules than just properties order rules.

[2016-11-16 19:21] herkulano opened #233 "Error: can't find "rules""
Getting the error:
`No rules found within configuration. Have you provided a "rules" property?`

Running it in a npm script:
`"css": "postcss -c .postcss.json",`

Config file for postcss:
[code]

Testing simple rules in `.stylelintrc`
[code]

with this scss:
[code]

[2016-11-17 16:43] joaocunha opened #235 "Incorrect spacing before curvy braces"
Stylefmt is removing the spaces between the closing parenthesis and opening braces (`){`) in this snippet:

[code]

[2016-11-18 14:09] noahehall commented on #223
just a note - if no .css files are found it throws error

Is it possible to silently fail if there aren't any css files ? or to show message vs throwing error.

I want to use this as part of my build process

[2016-11-18 20:44] zoxon opened #236 "Error: ENOENT: no such file or directory"
After the update I get the error

[code]

I'm use gulp-postcss wiht stylefmt, error is disappear if disable this plugin.

Gulp task
[code]
Full [gulpfile.js](https://github.com/zoxon/gulp-front/blob/master/gulpfile.js)
My [.stylelintrc](https://github.com/zoxon/gulp-front/blob/master/.stylelintrc)
and [.postcss-sorting.json](https://github.com/zoxon/gulp-front/blob/master/.postcss-sorting.json)

[

[2016-11-19 04:57] noahehall commented on #223
the following does not work for me:
./node_modules/.bin/stylefmt -d -l src/**/*.css "!**/*.out.css"

it returns:
There is no difference with the original file.

[2016-11-19 22:11] horosgrisa opened #237 "Please update stylelint to 7.6"
In 7.6 was added font-family-no-duplicate-names rule, and now I obtain follow error, when I use stylefmt:
[code]

https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#760

[2016-11-21 02:16] gucong3000 commented on #223
@noahehall

It will show a message if no file matched: `Files glob patterns specified did not match any css files.`

https://github.com/morishitter/stylefmt/blob/master/bin/cli.js#L103

Try `./node_modules/.bin/stylefmt -l src/**/*.scss`, maybe a wrong file extension used.

One more thing, use master branch: `npm i morishitter/stylefmt`

[2016-11-21 14:49] noahehall commented on #223
still not working :(

./node_modules/.bin/stylefmt -l src/**/*.css

returns:
No files are formatted.

[2016-11-22 09:47] gucong3000 commented on #223
I didn't find any problems in your branch.

[code]

Then I changed one of your file (src/containers/start/start.css), and try again.

![image](https://cloud.githubusercontent.com/assets/1171691/20518747/36b8a560-b0db-11e6-8163-2b91ca089d16.png)

![image](https://cloud.githubusercontent.com/assets/1171691/20518786/5bbc547e-b0db-11e6-92be-bf325f08d1e8.png)

If a file after format has no difference w

[2016-11-22 11:10] #200 closed

[2016-11-22 19:20] rosendi commented on #223
@gucong3000 Is it possible to list with globs from npm scripts? The following script in a pure bash works fine: `stylefmt --config .stylelintrc --list (src|packages)/**/*.css`. But if I add it to the package's scripts it fails with the exit status 2 with a no error explanation.

Before v4 I did  ` "lint:css:fix": "stylefmt --config .stylelintrc --list ls (src|packages)/**/*.css"` and it worked fin

[2016-11-22 23:35] noahehall commented on #223
Got it. Sounds like I need to update the style rules, interesting thing is, in atom I am getting formatting errors.

Ill review tonight and post updates

[2016-11-23 03:33] gucong3000 commented on #223
@rosendi Can you give me a test case?

[2016-11-23 07:21] rosendi commented on #223
@gucong3000 Just put in your package.json:

[code]

...then run `npm run lint:css:fix` and it will fail.

[2016-11-23 10:36] techieshark commented on #233
I assume this is a typo, but your postcss config has:

[code]

while your description is missing the `t` in the filename: "Testing simple rules in .stylelinrc".

[2016-11-23 14:00] herkulano commented on #233
@techieshark thanks for pointing that out. it is indeed a typo the file in the project is correctly named `.stylelintrc`

[2016-11-24 01:51] techieshark commented on #233
Hmm. Does `stylefmt` work for you as a standalone command, rather than when used via postcss?

[2016-11-24 07:58] gucong3000 commented on #233
@herkulano ,@techieshark
Option  of stylefmt is wrong, try this:
[code]

or

[code]

[2016-11-24 08:05] gucong3000 commented on #236
Upstream package bug.
See: https://github.com/davidtheclark/cosmiconfig/issues/43

[2016-11-24 08:39] gucong3000 commented on #222
@dcro  #231 was merged, Please test your project.

[code]

[2016-11-24 08:57] gucong3000 commented on #233
@morishitter
I think we need a document to describe Node API, just like:
https://github.com/stylelint/stylelint/blob/master/docs/user-guide/node-api.md

[2016-11-24 10:34] herkulano commented on #233
@morishitter
Thanks, it works great! 👍

[2016-11-24 10:34] #233 closed

[2016-11-24 17:12] mparpaillon commented on #86
Is this fixed ? I have the same issue. Thanks

[2016-11-25 01:42] gucong3000 commented on #237
I tried to solve this problem in the upstream software, but failed:
https://github.com/stylelint/stylelint/issues/2112

We can use another program, the priority of the user to install a higher version of the `stylelint` to load the configuration:
#239

[2016-11-25 12:53] mparpaillon commented on #37
Same with @mixin

[code]

is formated as

[code]

[2016-11-28 13:36] ar-naturalint opened #240 "stylelint-disable"
stylefmt ignores those commands

[code]

[2016-11-29 08:57] gucong3000 commented on #240
It is not yet developed.

`stylefmt` not support those commands.

[2016-11-29 09:55] gucong3000 commented on #223
@rosendi
try [postcss-cli](https://github.com/postcss/postcss-cli)

[2016-11-29 10:06] gucong3000 commented on #237
@horosgrisa try:
[code]

It should fix your issue

[2016-11-29 10:45] morishitter commented on #223
@rosendi please try

[code]

recursive pathes using glob have to use with quotes e.g. `''` because its shell is expanded as a wild card.
and `--list` option is changed to `--recursive (-r)` in stylefmt v5 was released.

[2016-11-29 10:53] #222 closed

[2016-11-29 11:14] #237 closed

[2016-11-29 12:55] rosendi commented on #223
@morishitter Great! It works. Thank you!

P.S. The glob pattern should be `{DIR1,DIR2}/**/*.css`

[2016-12-01 12:26] morishitter commented on #223
anytime :)

[2016-12-01 12:26] #223 closed

[2016-12-02 12:12] dcro commented on #222
This seems to run great on the latest version (5.0.2). Thank you for all your help!

[2016-12-05 08:36] TabTabTab opened #242 "Color-hex-case set to upper upper is not applied correctly in mixins"
The stylelint rule **color-hex-case** is not applied on the base level in mixins.
version: 5.0.2

.stylelintrc:
`{
    "rules": {
        "color-hex-case": "upper",
    }
}`

scss before stylefmt:
`$color1: #aaaaaa;

@mixin mix {
  // look what happens to this casing
  color: #aaaaaa;
  font-size: 10PX;

    color: #aaaaaa;
  }
}`

scss after stylefmt:

`$color1: #AAAAAA;

@mixin mix {
  // look w

[2016-12-05 18:00] qmmr commented on #75
@morishitter I'd love to see the `less` syntax. Any updates about this?

[2016-12-06 08:17] japboy opened #243 "stylefmt puts unnecessary space after comma"
Somehow the URL parameters of Akamai Image Converter is transformed into a wrong string which has an extra space between `*,` and `20`

source:

[code]

after running `stylefmt`:

[code]

is there any way to prevent this? thanks in advance.

[2016-12-07 01:33] cjboco opened #244 "Bad links on README.md (rules)"
In the README.md file, you have links under the "stylelint rules that stylefmt can handle" heading that are no longer valid.

https://github.com/stylelint/stylelint/blob/master/src/rules/[RULE-NAME]

should be:

https://github.com/stylelint/stylelint/tree/master/lib/rules/[RULE-NAME]

... /src became /lib in the links.

[2016-12-07 02:11] morishitter commented on #244
@cjboco thanks! fixed it :)

[2016-12-07 02:11] #244 closed

[2016-12-07 21:09] dimanech commented on #119
It would be grate if stylefmt has this feature. As I can understand it parse sass lists, maps, mixin, function parameters as media-query-list. So right now it formats sass parameters list in single line, even if it has some comments.
[code]

[2016-12-08 17:03] chrisblossom opened #245 "recursive option with npm scripts ignoring matched files"
When using npm scripts to recursively fix all files in a directory ignores files. Running the same command directly works as expected.

I am not sure if this is a ``npm/node`` issue or ``stylefmt``. I have put together a simple repo to demonstrate what I am seeing.

[chrisblossom/stylefmt-recursive](https://github.com/chrisblossom/stylefmt-recursive)

[code]

Thank you!

[2016-12-09 03:16] ryym opened #246 "Zeros in root scope Sass variables don't be fixed"
Hi, thank you for the nice tool.

Currently, stylefmt doesn't fix zeros in root scope Sass variables.
Maybe related to https://github.com/morishitter/stylefmt/issues/205 ?

## Example

[code]

[code]

[code]

### Expected output

[code]

### Actual output

[code]

## Versions

- styelfmt: 5.0.2
- node: 6.2.0

[2016-12-09 21:55] evanwarner commented on #86
I'm also confused about the state of this issue, and I think it's a vital one to address. Stylefmt making opinionated changes to code that on occasion directly counter what is set in `.stylelintrc` seems wrong.

Take, for example, this Stylelint setting: `"value-list-comma-newline-after": "always"`
This enforces that any declaration with multiple values be formatted on multiple lines. However, Sty

[2016-12-10 20:46] noahehall opened #248 "stylefmt not saving changes to files"
I recently updated my boilerplate to include stylefmt in the build flow, however, its not saving the changes to the files

boilerplate: https://github.com/noahehall/react-f-your-starterkit

commands
$ npm install
$ npm run stylefmt

"stylefmt": "./node_modules/.bin/stylefmt -r src/**/*.css --diff",

Thanks for your help!

heres an image of whats happening, each time I run the command
<img width="5

[2016-12-10 20:50] mrmlnc commented on #248
`Usage: stylefmt [options] input-name` **[output-name]**

[2016-12-10 21:13] noahehall commented on #248
ahh it was including the --diff command

is it possible to save the files, and see the diff ?
I think this would be helpful for users who want to see what was changed, and not just knowing that some files were changed

[2016-12-11 07:05] morishitter commented on #248
@noahehall It seems to be the same probrem as https://github.com/morishitter/stylefmt/issues/223#issuecomment-263537119

[2016-12-11 09:43] noahehall commented on #248
@morishitter you are correct, its user error again ;)

This time it was because I was adding --diff

[2016-12-11 14:15] #248 closed

[2016-12-14 06:42] seka commented on #245
Is it the same problem?

https://github.com/morishitter/stylefmt/issues/223#issuecomment-263537119

[2016-12-14 19:37] chrisblossom commented on #245
Yes, looks like it. The following change in the ``package.json`` script section fixed the issue
``"fix": "stylefmt --config .stylelintrc.js --recursive src/**/*.css"`` -->
``"fix": "stylefmt --config .stylelintrc.js --recursive 'src/**/*.css'"``

Thank you for the response!

[2016-12-14 19:37] #245 closed

[2016-12-16 04:09] #246 closed

[2016-12-23 01:10] trainiac opened #250 "Issues with cli"
Thanks for this great tool. I'm using version `5.0.3` and  I'm trying to recursively fix all .css and .pcss files in my repository but it appears the CLI options are not working as expected.

[code]
The .stylelintignore file contains the following which works with stylelint:
[code]

What I am finding is that the instructions from the .stylelintignore file are being ignored and fixes are being appl

[2016-12-23 21:30] rpunkfu commented on #224
Also wondering, might be related to #108

[2016-12-24 10:29] goldylucks commented on #175
@hudochenkov i can try to implement alphabetical sorting if given some pointers :)

I couldn't get postcss-sorting to work :(

[2016-12-24 10:31] hudochenkov commented on #175
@goldylucks I'm finishing `postcss-sorting@2.0.0` which is has alphabetical order. Should be released in a month.

[2016-12-24 10:37] goldylucks commented on #175
cool!
will it work with stylemft?

[2016-12-24 10:40] hudochenkov commented on #175
@goldylucks yes. It was developed with stylefmt in mind :)

[2016-12-29 22:36] coreybruyere opened #251 "stylefmt not reading .stylelintrc.json"
It looks like stylefmt isn't reading .stylelintrc.json in the root of my project and is falling back to the default .stylelintrc that it's shipped with. Does stylefmt support the JSON file extension?

[2016-12-29 22:49] coreybruyere commented on #251
I've tried removing the JSON file extension and still can't get stylefmt to use my configuration?

[2016-12-29 23:05] morishitter commented on #251
@coreybruyere Can you see me your configuration file? We can specify its path with `--config` option. https://github.com/morishitter/stylefmt/blob/86c43a69cf698a974a6b503af3d2f403e7b92ba4/README.md#in-command-line

[2016-12-29 23:29] coreybruyere commented on #251
.stylelintrc.json
[code]
gulpfile.js
[code]

@morishitter how can I use that option within the stylefmt gulp task?

[2017-01-04 20:08] hanakin opened #252 "quotes handled incorrectly"
Currently when formatting based on the string-quotes setting all quotes are replaced regardless of occurence in the files. This is highly problematic as it eliminates the ability to use encapsulated quoting. Consider the following

It will render the singles as doubles given the following setting `"string-quotes": double` but the doubles already within will remain doubles thus breaking the code

g

[2017-01-10 19:52] ChaosExAnima opened #253 "Zero being stripped out value"
With `number-no-trailing-zeros` set, and the following rule:
[code]
I get this:
[code]
Seems related to #208?

[2017-01-11 02:26] #253 closed

[2017-01-11 08:11] gucong3000 opened #254 "Do not support *.wxss file in cli"
*.wxss is a kind of css file that useed in wechat app.
wechat app is a new development platform for webapp.
hear is a demo:
https://github.com/xwartz/wechat-app-demo/blob/master/app.wxss

And I will push a PR.

[code]

[2017-01-11 13:15] seka commented on #254
I don't know wxss. so please tell me.
Is wxss a syntax that is fully compatible with css, scss ?

[2017-01-11 16:35] mkoryak commented on #175
any updates on this, I would also really like to have this 👍

[2017-01-12 05:24] gucong3000 commented on #254
@seka
yes,  It is fully compatible with css?

[2017-01-12 06:11] #254 closed

[2017-01-12 06:30] morishitter commented on #250
@trainiac This issue seems be the same with https://github.com/morishitter/stylefmt/issues/223#issuecomment-263537119 . Please try it.

[2017-01-13 10:23] morishitter commented on #251
@coreybruyere I'm sorry, I'm late. You can set the option in gulp-stylefmt. Please refer the following code :)

[code]

[2017-01-17 06:33] eidng8 opened #256 "`declaration-empty-line-before` is not followed"
with `.stylelintrc.json`:

[code]

and the command `stylefmt -c .stylelintrc.json -r src/**/*.scss`,

the scss:

[code]

will be formatted as:

[code]

The empty line is stripped. Then stylelint complains:

[code]

[2017-01-18 19:40] JoshConley opened #257 "SCSS empty line before variable"
I'm looking for support on adding a new line before variables, such as I can currently lint with `stylelint`:

[code]

When used in conjunction with this rule:

[code]

Stylefmt formats it like this, breaking linting:

[code]

Ideal outcome:

[code]

[2017-01-19 23:56] waldnercharles commented on #256
Having this issue with postcss as well using `@apply --my-rule`.

[2017-01-23 22:54] hyperknot commented on #256
I can confirm the same issue. When using both stylefmt and stylelint with stylelint-config-standard, stylefmt is **guaranteed to ruin declaration-empty-line-before blocks**, which will trigger a stylelint warning. It is the case even when declaration-empty-line-before is pre-formatted correctly before.

So as it is today, it is not possible to use both tools without warnings.

[2017-01-27 16:26] davegomez opened #259 "selector-list-comma-newline-after [always] not working"
The `[always]` option for the `selector-list-comma-newline-after` rule in combination with rules like `selector-list-comma-space-after|before` is not modifying the code correctly.

When the output should be something like this:
[code]

Is returning this:
[code]

Couple of things I notice:
* the project [doesn't have code](https://github.com/morishitter/stylefmt/blob/master/lib/formatSelectors.js#L

[2017-02-08 09:15] markelog opened #260 "Incorrectly rearranges the variables"
With `.stylelintrc` like this –

[code]

for the code like this:

[code]

It arranges code like this:
[code]

Moving `$index` variable after `return` and breaking the code, same story with similar code

[2017-02-10 00:33] csmit175 commented on #223
Hey i cant seem to get the glob format working. Im trying to run ./node_modules/.bin/stylefmt --recursive 'client/src/common/**/*.less' but just keep getting a message saying files glob patterns specified did not match any css files. Please help!

[2017-02-10 10:33] sebelga commented on #223
I just had the same problem and removed the quote mark '' around the path and it worked.

[2017-02-16 16:55] JonathanWolfe opened #262 "Throwing an Error on config set due to outdated Stylelint install"
### [Originally a bug over on vscode-stylefmt](https://github.com/mrmlnc/vscode-stylefmt/issues/67?_pjax=%23js-repo-pjax-container#issuecomment-280387350)

If setting a config option the installed Stylelint version doesn't support, then the whole formatter stops and throws an error.

#### Recommendations:
Maybe wrap your config set methods in `try-catch`es to handle these errors gracefully (with m

[2017-02-20 20:43] #226 closed

[2017-02-22 21:59] trainiac commented on #250
the glob pattern needed quotes! Thank you

[2017-02-22 21:59] #250 closed

[2017-02-24 02:18] jethrolarson opened #264 "number-leading-zero is altering urls"
This is a SEVERE problem as it sneaks 404s into my code.

example:
[code]

[2017-02-24 21:54] jethrolarson commented on #264
this is in a scss file btw.

[2017-03-01 19:01] wuvluv commented on #260
Any workaround for this issue? I'm running into this now, I'm using stylefmt directly with stylelint and have this issue.

[2017-03-01 19:54] wuvluv commented on #260
Okay I think i've got a temporary fix for you as a POC so someone more knowledgeable can make a PR on it.

Inside "formatOrder.js" within stylefmt's lib folder change set "flattenedSortOrder" to:

` var flattenedSortOrder = ["$variable"]`

[2017-03-03 08:33] nmsmith22389 commented on #177
@fulls1z3

I've got the same problem 😭

[2017-03-03 16:23] benfrain commented on #86
@morishitter can you confirm, is `--onlyStylelint` in the current version (just checking as nothing in the readme regarding it). Thanks for this great tool 👍

[2017-03-05 14:29] cjke commented on #93
This would be a massive win - relates to this (indirectly): https://github.com/peterramsing/lost/issues/325

[2017-03-14 14:38] nervo opened #266 "stylelint-order plugin support is broken"
According to the changelog (https://github.com/hudochenkov/stylelint-order/blob/master/CHANGELOG.md), stylelint-order has renamed its rules in 0.4.0 (hello semver !)

ping @doochik :)

[2017-03-14 16:31] andykenward commented on #266
@nervo you have to downgrade `stylelint-order` to `0.3.0` for now.

Hopefully @doochik will get some time to look at this.

https://github.com/morishitter/stylefmt/pull/263#issuecomment-285653399

[2017-03-14 16:40] doochik commented on #266
i update rules right now )

[2017-03-14 17:01] doochik commented on #266
@nervo @andykenward You can switch to my branch right now https://github.com/morishitter/stylefmt/pull/267

[2017-03-14 20:08] pcellis opened #268 "Add support for function-name-case"
https://stylelint.io/user-guide/rules/function-name-case/

[2017-03-14 20:09] pcellis opened #269 "Add support for value-keyword-case"
https://stylelint.io/user-guide/rules/value-keyword-case/

[2017-03-14 21:49] nervo commented on #266
Maybe we should also advice @hudochenkov to either respect semantic versionning, or stop writing stylelint-order is adhering to :)

[2017-03-14 21:57] hudochenkov commented on #266
@nervo I follow semantic versioning:

I know it sucks, that API changes a lot. Sorry about that. There're lots of things going on in stylelint and its community. Have to adapt to build a stable plugin in the end.

[2017-03-15 08:49] nervo commented on #266
@hudochenkov of course you follow semantic versioning with version zero, i did'nt want to be rude nor offensing you, that's why i have deleted my original message, sorry fot that.
I was tired and upset of the node ecosystem when updating something a day later can broke your workflow. That was'nt you :)

[2017-03-15 12:41] hudochenkov commented on #266
@nervo no worries :)

[2017-03-15 15:34] modosc opened #271 "declaration indentation broken inside of at statements"
this seems to have happened as part of https://github.com/morishitter/stylefmt/commit/2053c7cb68b3187bbfd83a2a714736c0a64974d5

.stylelintrc:
[code]
input:
[code]

output:
[code]

i'm looking into it now.

[2017-03-15 16:26] jakelauer opened #273 "Line endings are not preserved"
[test.zip](https://github.com/postcss/postcss-cli/files/845161/test.zip)

I would like my original line endings style to be preserved by postcss when using stylefmt. I have a file using the CR+LF line ending style ("\r\n"):

![input](https://cloud.githubusercontent.com/assets/3980400/23957547/e1fc7210-095c-11e7-964b-76221a3e5c38.png)

but when it is processed by postcss + stylefmt, those line endi

[2017-03-15 17:54] pattiereaves opened #274 "at-rule-empty-line-before not honoring `blockless-after-blockless`"
For the code
[code]

Stylefmt is putting a space between the includes where it should not, e.g.
[code]

I think this may be because [Stylelint changed](https://github.com/stylelint/stylelint/tree/master/lib/rules/at-rule-empty-line-before#blockless-after-blockless) `blockless-group` to `blockless-after-blockless` as a rule.

[2017-03-15 21:00] modosc opened #275 "sass length method breaks in at statement"
(this is without any config btw)

a space is added after the [length](http://sass-lang.com/documentation/Sass/Script/Functions.html#length-instance_method) method is used in a `@for`:
input:
[code]
output:
[code]
this works when in a normal declaration:
input:
[code]
output:
[code]

[2017-03-15 23:55] #266 closed

[2017-03-15 23:56] #271 closed

[2017-03-16 09:27] SanichKotikov commented on #75
Hi. Any updates here? Is anybody working on it or not?

[2017-03-16 09:59] mrmlnc commented on #75
@SanichKotikov,

Now `postcss-less` is broken. See Issues and Pull Requests.

[2017-03-16 20:16] callahad opened #276 "Fails when part of a postcss-cli chain including postcss-nesting or postcss-nested"
Stylefmt throws "Cannot read property 'split' of undefined" when used as part of a postcss-cli chain that includes postcss-nesting or postcss-nested.

__Steps to reproduce:__

1. `npm install postcss-cli postcss-nesting stylefmt`
2. `echo ".x{&.y{color:red}}" | postcss --no-map -u postcss-nesting stylefmt`

__What should happen:__

[code]

__What actually happens:__

[code]

__Workaround:__

If st

[2017-03-16 20:33] callahad commented on #276
When running stylefmt against the expanded CSS, `before` is an empty string. When running it against the nested CSS, it's not present in `decl.raws`:

Input | decl.raws
----- | -----------
.x{&.y{color:red}} | { between: ': ' }
.x{}x.y{color:red} | { before: '', between: ': ' }

It seems like a potential solution might be to treat an undefined `before` as the empty string.

[2017-03-17 03:16] #276 closed

[2017-03-17 07:42] jitendravyas opened #278 "Is this tool for source file or generated file?"

[2017-03-21 10:34] cascornelissen commented on #86
@benfrain; I'm afraid not... I can't seem to find it anywhere in the repository: https://github.com/morishitter/stylefmt/search?utf8=%E2%9C%93&q=onlyStylelint.

@morishitter, an update on this would be greatly appreciated.

[2017-03-23 07:48] morishitter commented on #278
@jitendravyas Please show me your setup.

[2017-03-24 17:04] h0tc0d3 opened #279 "Cannot read property 'split' of undefined"
TypeError: Cannot read property 'split' of undefined
    at declarationEmptyLineBefore (node_modules\stylefmt\lib\formatDecls.js:65:33)
    at node_modules\stylefmt\lib\formatDecls.js:26:26
    at node_modules\postcss\lib\container.js:192:28
    at node_modules\postcss\lib\container.js:148:26
    at Rule.each (node_modules\postcss\lib\container.js:114:22)
    at Rule.walk (node_modules\postcss\lib

[2017-03-24 17:20] morishitter commented on #279
Please tell me your environment. Do you use task runner? What version of Node.js do you use? and so on

[2017-03-24 17:45] h0tc0d3 commented on #279
Node v7.6.0.
Don't use task runner.

`    fs.readFile("./tests/data/" + src, "utf8", (err, css) => {
        postcss([myplugin, stylefmt]).process(css).then(result => {
            fs.writeFile(dest, result.css);
        });
    });`

[2017-03-24 18:05] h0tc0d3 commented on #279
I fixed with `var nlCount = (decl.raws.before) ? decl.raws.before.split('\n').length - 1 : 0`
 in stylefmt\lib\formatDecls.js:65

[2017-03-24 20:03] chrishoage opened #280 "Custom at-rules don't get formatted according to .stylelintrc.json"
Given the following `.stylelintrc.json` https://gist.github.com/chrishoage/bdedf025288486050fd60535bd018c3e

And the following CSS

[code]

One expects `stylefmt` to not a) move the custom at-rule, and b) not add a space after `truncate`.

I was playing around with `formatAtRules` and the issue appears to be that `formatAtRules` doesn't handle unknown at-rules very well.

Since PostCSS supports de

[2017-03-31 15:43] HeorhiSakalouski opened #285 "Multiple LESS files not working"
Hi, I have the same issue as [here](https://github.com/morishitter/stylefmt/issues/223#issuecomment-278822218). But if I change `less` to `css` or `scss`, it will work as expected. Is `less` unsupported or I'm doing something wrong?

[2017-03-31 17:51] jitendravyas commented on #278
I'm using Grunt and Node Sass

[2017-03-31 22:26] philipvonbargen commented on #264
The `{ "number-no-trailing-zeros": true }` rule is having a similar issue in SCSS variables

[code]

[code]

[2017-04-04 02:08] #264 closed

[2017-04-04 11:47] KayLeung opened #287 "stylefmt ignores NULL in rules?"
stylefmt ignores NULL config and always append a line after CSS rule.

[code]

the formatting function doesn't check on `NULL` config?
[https://github.com/morishitter/stylefmt/blob/master/lib/formatRules.js#L11](https://github.com/morishitter/stylefmt/blob/master/lib/formatRules.js#L11)

Testing Code: (we expected no changes in below code)
[code]

[2017-04-06 02:37] jmbelloteau commented on #275
same problem here

[2017-04-06 04:37] manugill opened #289 "Request: support for "rule-empty-line-before""
Hi, I was wondering if support for this is planned?

[2017-04-11 12:57] tristanbes commented on #175
any updates on this issue ? stylefmt still not fixing automatically rules to comply with alphabetical order :(

[2017-04-11 13:01] hudochenkov commented on #175
@tristanbes you need to use [stylelint-order](https://github.com/hudochenkov/stylelint-order/), because `declaration-block-properties-order` is deprecated in stylelint.

[code]

As I know stylefmt supports stylelint-order rules.

[2017-04-11 13:04] morishitter commented on #175
@tristanbes hudochenkov is right. Please use stylelint-order plugin :)

[2017-04-11 13:22] tristanbes commented on #175
Sorry @morishitter @hudochenkov , I know it may be not the place, but after using the stylelint-order, it's still not auto-fixing the order in `.scss` (sass). Can you point me in the right direction please ?

Output of `gulp lint`
<img width="1203" alt="hyper" src="https://cloud.githubusercontent.com/assets/346010/24911202/788a371c-1eca-11e7-9ba1-6cd8eb5b2a9b.png">

[code]

The plugin is also ship

[2017-04-11 13:28] hudochenkov commented on #175
@tristanbes looks like you're using old version of stylelint-order. stylefmt supports latest version.

[2017-04-11 13:31] tristanbes commented on #175
I use `^0.4.3`

[code]

[2017-04-11 13:38] hudochenkov commented on #175
@tristanbes you might have seen deprecation notices then. Rename rule `order/declaration-block-properties-alphabetical-order` to `order/properties-alphabetical-order` in your config.

[2017-04-11 13:40] tristanbes commented on #175
Thank you i'll provide a PR to the external rules we're using 🌷

[2017-04-11 15:45] acdha commented on #175
I hit what appears to be a related issue: I have a project which uses `order/properties-order` and while `stylelint` doesn't produce any output at all, `stylefmt` reorders properties, causing the next lint run to produce errors:

[code]

[code]

https://gist.github.com/b33c056c240569190b93480ba7017e31 has my `.stylelintrc` – it's big but mostly a list of CSS property blocks.

[2017-04-11 16:09] hudochenkov commented on #175
It might have a problem because of postcss-sorting and stylelint-order. I'll look into it.

BTW, If you specify `flex-flow` in your config it'll fix a problem :)

[2017-04-11 16:30] acdha commented on #175
@hudochenkov ah, indeed – thanks!

[2017-04-12 03:01] #256 closed

[2017-04-13 16:28] evilebottnawi opened #291 "Happy news"
Now `stylelint` support `fix` https://github.com/stylelint/stylelint/pull/2467 in experimental mode.

If there is an interest, we can begin the unification of forces, which will make a good and high-quality tool.

[2017-04-16 00:17] lowmess commented on #177
seeing the same issue with `@page`, which is not a custom at-rule.

[2017-04-18 12:21] Dervanil opened #293 "Add support for operator-no-unspaced"
[stylelint-scss](https://github.com/kristerkari/stylelint-scss)

[scss/operator-no-unspaced](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/operator-no-unspaced/README.md)

[2017-04-24 08:11] jitendravyas opened #294 "What are stylelint equivalent rules for these default rules?"
https://github.com/morishitter/stylefmt#default-formatting-rules-without-stylelint-config-file

[2017-04-24 09:16] jitendravyas opened #295 "How to run stylefmt without its default rules?"
These are default rules https://github.com/morishitter/stylefmt#default-formatting-rules-without-stylelint-config-file

I want to run stylefmt with [supported stylelint rules](https://github.com/morishitter/stylefmt#stylelint-rules-that-stylefmt-can-handle) only https://github.com/morishitter/stylefmt#default-formatting-rules-without-stylelint-config-file

[2017-04-24 12:08] svipben opened #296 "Autofixing errors"
Hello,

what do you think by adding `--fix`? Like in https://github.com/stylelint/stylelint/blob/master/docs/user-guide/cli.md#autofixing-errors

[2017-04-24 22:41] svipben opened #297 "at-rule-empty-line-before"
Hello,

at-rule-empty-line-before ("always"|"never" and except "blockless-group" only), right now `blockless-group` is `blockless-after-blockless` at https://stylelint.io/user-guide/rules/at-rule-empty-line-before/

[2017-04-24 23:33] svipben opened #298 "Single line formatting"
Hello,

how to make this to NOT format, let it be in 1 line as it is i. e. here:

[code]

What rules do I need configure and HOW? Because I tried everything and still, it formats that code above to:

[code]

[2017-04-27 08:29] sapegin commented on #223
Doesn’t work for me too but I have “TypeError: Cannot read property 'forEach' of undefined”

@sebelga When you omit quotes you’re using you shell expansion which may not work the same way on other platforms. Basically you just send a huge list of files to `stylefmt` ;-)

[2017-05-02 16:14] graingert opened #300 "autofix whitespace issues"
CSS whitespace changes are 'always' safe

no-missing-end-of-source-newline
comment-empty-line-before

[2017-05-05 14:49] DmitriyKurto opened #302 "stylefmt change SVG string letter to Uppercase"
I use SCSS and paste SVG on page with background-image
`background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' x='0px' y='0px' viewBox='0 0 35.1 35.1' style='enable-background:new 0 0 35.1 35.1%3B'%3E%3Cstyle%3E.st0%7Bfill:%2333C158%3B%7D .st1%7Bfill:url(%23SVGID_1_)%3B%7D .st2%7Bopacity:0.4%3Bfill:%23FFFFFF%3Benable-background:new %3B%7D%3C/style%3E%3Cg%3

[2017-05-09 13:04] keithjgrant opened #303 "Add support for function-comma-newline-after"
https://stylelint.io/user-guide/rules/function-comma-newline-after/

When you have a really long function, like the one below, stylefmt smashes it all onto the same line. It would be nice to have an option to keep them separate:

[code]

stylefmt currently produces:

[code]

…which is not readable.

[2017-05-09 16:57] keithjgrant opened #304 "breaking nested media queries"
When using the stylelint-order plugin, stylefmt moves nested @media queries (and other nested at-rules) to the top of the declaration block. This can change the meaning of the CSS.

Given the following code:

[code]

produces:

[code]

This is obviously no good, as it breaks my code. It should not move the at-rules. I also see the same behavior with other at-rules, such as an `@if` at rule (from a

[2017-05-09 17:19] Seminioni commented on #155
So, did you fix this trouble?

[2017-05-09 17:41] keithjgrant commented on #304
Hmm.. Thinking about this more, other should move to the top. Typically @apply should be at the top (though moving this, too can change the meaning of the code).

[2017-05-09 17:47] keithjgrant commented on #304
Oh! Nevermind, theres the `order/order` config option for stylelint-order, which by default puts at-rules at the top. I just need to edit configs for that :)

[2017-05-09 17:47] #304 closed

[2017-05-19 21:36] jethrolarson opened #306 "length-zero-no-unit is dangerous to fix when used with calc()"
A bug where using stylefmt with stylelint causes calc expressions to break

`length-zero-no-unit`

[code]

stylelint configuration:

[code]

stylefmt 5.3.2

CLI with `stylefmt -r 'app/**/*.scss' 'app/**/*.css'`

Fixing the warning to be safe since it's in the recommended list

Styles get fixed to
[code]
calc sees different units on left and right hand side of the operator and returns a 0.

I think

[2017-05-23 13:49] pavanchirravuri opened #307 "Missing semicolon in scss variables is not fixed by stylefmt"
Hi,

I have used below scss with variables. stylefmt doesn't fix missing semicolons for variables instead it throws below error.

[code]
Error:
[code]
It throws error missed semicolon but doesn't fix it automatically.
Am i missing something here or it's issue with stylefmt. could you please help fix the issue.

Thanks
Pavan

[2017-05-23 21:42] kilmc commented on #298
Looking at the Stylelint docs says that the following should work:
[code]
Here's the quote from [the FAQs](https://stylelint.io/user-guide/faq/#how-do-i-disallow-single-line-blocks)

Looking at [the](https://github.com/morishitter/stylefmt/tree/master/test/stylelint/block-opening-brace-newline-before-always-multi-line) [tests](https://github.com/morishitter/stylefmt/tree/master/test/stylelint/bloc

[2017-05-26 13:37] t-p-l-k commented on #275
Same.
[code]

[2017-05-26 18:39] modosc commented on #275
i'll look at this today.

[2017-05-29 11:07] senta commented on #242
Same problem happens in SASS's map definisions.

.stylelintrc

[code]

source scss file

[code]

result
[code]

[2017-05-30 12:38] jitendravyas opened #310 "Unclosed bracket error"
Please see here for context https://github.com/stylelint/stylelint/issues/2601

[2017-05-30 20:37] jmbelloteau commented on #275
any update about a fix?

[2017-05-30 21:05] t-p-l-k commented on #275
@jmbelloteau https://github.com/morishitter/stylefmt/pull/308 pending review.

[2017-05-30 21:09] jmbelloteau commented on #275
@t-p-l-k cool thanks 👍

[2017-05-30 21:10] t-p-l-k commented on #275
@jmbelloteau thank @modosc, not me)

[2017-05-31 09:23] TrySound commented on #236
@zoxon Show full stacktrace please

[2017-05-31 09:48] gucong3000 commented on #236
@TrySound
`gulp-stylus` will rename '*.styl' to '*.css', then ‘stylelint’ will pass `opts.from` to `cosmiconfig`, then `cosmiconfig` will throw this error.

[2017-05-31 09:55] TrySound commented on #236
@gucong3000 Why cosmiconfig loads css?

[2017-05-31 10:27] gucong3000 commented on #236
At the time of the release, There's code like this
[code]

[2017-05-31 13:37] vladtar commented on #75
Any plans to support this at some point? Is there any other tool out there that formats less code?

[2017-05-31 22:18] bardware commented on #273
I just tried stylefmt on the command line and noticed my line endings `\r\n` were changed to `\n`. Came as a surprise.

[2017-06-01 02:57] morishitter commented on #75
We have supported .less and .pcss files extentions by https://github.com/morishitter/stylefmt/pull/301 but stylefmt can't format all of less and postcss plugins customized syntaxes.

I'm sorry, I don't know ;(

[2017-06-01 07:42] #285 closed

[2017-06-01 22:58] TrevorSayre opened #311 "Fix bad formatting of keyframes"
Given:
[code]

Running `stylefmt` creates:
[code]

Expected to remain untouched or at least create:
[code]

[2017-06-02 05:02] jitendravyas opened #312 "How to ignore some directories if I'm using stylefmt only, not with stylelint?"

[2017-06-04 18:58] t47io commented on #275
Any update on this or merge the PR? This bug is preventing me using it in my project. So a fixed release would be great, thanks!

[2017-06-05 10:18] t-p-l-k commented on #275
@t47io here's a temporary fix:
[code]
Create a variable to store array's length and use it instead.
Works for me, both stylelint and stylefmt don't complain.

[2017-06-05 22:36] chryton commented on #259
Going to bump this. Noticing this when trying to get a repo up to standards and that rule is not being correctly recognized. For a repo of a size as the one I am working on, this is generating 300+ warnings.

[2017-06-06 00:25] cakellis commented on #215
+1

[2017-06-07 09:34] stefan-1st commented on #259
I am having the exact same issue and fixing all these is quite annoying.

[2017-06-16 13:50] jmbelloteau commented on #275
any news about this PR?

[2017-06-19 03:59] meltifa opened #313 ""block-opening-brace-space-before" problem"
i set "block-opening-brace-space-before": "always"

**before run stylefmt
[code]
**after run stylefmt**
[code]

[2017-06-22 19:17] pattiereaves commented on #195
I would love to see this issue fixed! It makes it hard to use stylefmt and lost.

[2017-06-23 02:37] morishitter commented on #195
@pattiereaves Great! Please feel free to send your PR :)

[2017-06-23 15:22] pattiereaves commented on #195
:P well played @morishitter

[2017-06-27 21:41] guilhermehn opened #314 "Update stylelint dependency"
stylefmt is not working with the newer version of stylelint because of the new rule `selector-max-id`, which deprecates the `selector-no-id` rule.

stylefmt's stylelint version: 7.10.1
current stylelint version: 7.12.0

[2017-06-28 14:27] simsieg opened #315 "Ignore unsupported stylelint rules"

[2017-06-28 14:36] #315 closed

[2017-06-28 14:53] simsieg opened #316 "Stylefmt crashes if old configuration rules are in .stylelintrc"
It would be great if stylefmt could ignore unknown rules and fix the files anyway.

[2017-06-28 21:09] jebzaki opened #317 "Stylefmt committing wrong scss file when multiple files committed at the same time"
[code]

How I currently am using it, how am I messing it up?

[2017-07-06 08:20] ondrejs2 commented on #75
@morishitter Hi, I'm using stylelint on my LESS codebase and now I want to start using stylefmt but I have a problem that it doesn't understand LESS default mixins syntax.
- ![less mixins errors](https://user-images.githubusercontent.com/16820038/27902062-9da4599e-6234-11e7-89d2-7ef0cbc67aa2.png)

Do you plan to support/fix this?

[2017-07-25 16:38] modosc commented on #275
@morishitter ping?

[2017-07-25 17:53] mistermendez commented on #215
+1 what is the status of this?

[2017-07-27 02:40] ntwb commented on #316
This doesn't make sense IMHO, if known unknown rules exist in your `.stylelintrc` file you should update that file before running stylefmt

[2017-07-27 23:11] bartech101 commented on #289
Yes pleas I need this for `stylelint-config-wordpress` compatibility

[2017-08-05 20:59] lkraav commented on #314
stylelint recently reached 8.0.0

[2017-08-18 22:36] palashkaria commented on #195
Is #70 related?

There's some comments removed in that change, which say
[code]

[2017-08-29 12:08] vvs opened #321 "Stylelint's color-hex-case option is handled incorrectly"
As far as I can tell, stylefmt looks up the `color-hex-case` and then uses the result to format not only the HEX cases, but other cases, like rgba and even plain colors.

So, if color-hex-case is set to "upper", then we end up with:
[code]

As a result, stylelint complains after applying stylefmt (whith color-hex-code set to 'upper'):
[code]

Please consider removing uppercase/lowercase conversion

[2017-08-30 19:32] vvs opened #322 "comments removed when dealing with multi-line selectors"
Consider the file `test.scss`:

[code]
My stylelint rules include: `selector-list-comma-newline-after: always`

After formatting both comments are gone! :)

[code]

[2017-09-01 13:10] sourav-kumar opened #323 "formatting is not happening correctly in some case"
There are two cases where I found formatting not happening correctly,

1)  actual:
[code]
after formatting:
[code]
There should not be any change as per rule written in `styleling-config-standard`. Means closing brace should not be on new line.

2)  actual

[code]

After formatting
[code]

space is getting removed after stylefmt formatting which is wrong.

[2017-09-22 20:58] Announcement opened #324 "configuration in plugin definition"
# readme.md
[code]

# question
this doesn't error, but doesn't seem to work.
my question is, why does this module not accept inline configuration like other modules, and can we add it; may I just be doing something wrong?
[code]

[2017-09-26 14:29] alexander-schranz commented on #314
I'm little bit confused I get: `Undefined rule selector-max-id at module.exports (node_modules/stylefmt/node_modules/stylelint/lib/utils/configurationError.js:8:27)`
with `^5.*` it works with stylefmt `^6.0.0` it doesn't. I did set my version back to 5 but not sure why 5 version works and 6 doesn't work with the newest stylelint.

Working:

[code]

Not Working:

[code]

[2017-10-07 22:39] amosyuen opened #325 "Support declaration-colon-newline-after"
declaration-colon-newline-after isn't listed in the features, could you add support for it?

[2017-11-01 14:33] montogeek commented on #322
Getting a similar behaviour with this code:
[code]

After running `stylefmt`, `/* Get app banner */` comment is removed

[2017-11-10 03:40] craigcosmo opened #326 "why stylefmt automatically add new line after block?"
my stylelint rule

[code]

When I run stylelint fmt

it turn my orginal code
[code]
to this

[code]

There is a new line in the formatted result. Even though I didn't set any rule about new line after block.

[2017-11-28 10:05] generator85 opened #327 "Error when using stylelint-config-recommended"
I'm getting the error "Undefined rule font-family-no-missing-generic-family-keyword at module.exports" when using stylelint-config-recommended.

[2017-11-30 01:03] iamvanja commented on #327
+1
This rule was added in 8.3.0 and it appears that stylefmt install its own stylelint that is older. Looking into it.

[2017-12-03 09:47] jimblue commented on #327
https://github.com/stylelint/stylelint-config-standard/issues/98 this is the fix

[2017-12-03 09:55] jimblue opened #328 "Not working anymore with stylelint-config-standard 18.0.0"
**Environment:**

VSCode Version: 1.18.1
OS Version: OSX 10.13.1

**Actual behavior:**

Not formatting

**Expected behavior:**

Should format (was working before upgrading to stylelint-config-standard 18.0.0)

**Steps to reproduce:**

In .stylelintrc
[code]

[2017-12-03 10:12] jimblue commented on #328
Apparently the problem come from the version of stylelint in your dependencies:

https://github.com/stylelint/stylelint/issues/3042#issuecomment-347578941

Could you please update it to the latest: `stylelint 8.3.1`

Thank you

[2017-12-06 06:48] jimblue opened #329 "Is this library still maintain?"
Hi @morishitter ,

I was juts wondering if this library is still maintain as I see so many unfixed issues that are pretty old.
Also the last release is 1 year old!

It would be nice to give your **Stylefmt** community some feedback to let people know if it's still a good choice for long term use.

PS: I know it's open source and I know what that's mean don't take this bad please... 😄

[2017-12-08 02:36] morishitter opened #330 "Remake Stylefmt more simpler"
Hi, I intend to remake stylefmt to be more simpler. Now, [prettier](https://github.com/prettier/prettier) is very famous as a formatter of many languages. So I thought, stylefmt is no longer needed. But, the number of download continues to increase (over 80k DL / month). So, I'd like to give values and better user experiences for users.

I have some ideas to be more simpler, faster and useful.

-

[2017-12-28 18:50] danfma-daitan opened #331 "Variables declared as Map are forcely inlined."
SCSS has the ability to define variables as maps (https://codepen.io/jakealbaugh/post/using-sass-functions-to-access-complex-variable-maps), but actually, the Formatter enforces that all variables should be on the same line.

e.g.:

Something like this:

[code]

will become:

[code]

Which obviously, is not so readable.

[2018-01-02 18:53] AndreCunha1 commented on #259
I just wanted to confirm that this issue is, unfortunately, still present.

[2018-01-16 10:42] evilebottnawi commented on #291
Close issue here, discussion now here https://github.com/stylelint/stylelint/issues/2829. Thanks everyone!

[2018-01-16 10:42] #291 closed

[2018-01-26 08:22] DavidStolk opened #332 "Stylefmt forces @each after class extension"
The problem is that we wan't to override the color of a group. But stylefmt forces the `@each` after the `disabled` class.
We wan't:
[code]
But stylefmt wants:
[code]

We also don't wan't extend the group class with the `disabled` class as that will make a loads of unnecessary css lines.
Not sure if this is an issue but we also don't wan't to be forced to use `!important`.

[2018-01-29 00:05] Front-start commented on #75
Hi!

Any update on this?
I`m using stylefmt VS Code (1.19.2) plugin (2.5.0) and getting this error for every LESS mixin usage.
![less](https://user-images.githubusercontent.com/25039683/35488946-2c34ec82-04a1-11e8-8089-cd133b27813d.jpg)

[2018-01-31 15:31] jeromecovington commented on #328
I ran into this today with the following rule erroring & not being formatted `font-family-no-missing-generic-family-keyword`.

The following rule was not erroring, but was not being formatted: `no-descending-specificity`

I had just updated to `stylelint-config-standard@18.0.0`

[2018-01-31 15:56] #328 closed

[2018-02-01 13:00] sergeysova opened #334 "Error: Undefined rule font-family-no-missing-generic-family-keyword"
.stylelintrc

[code]

[2018-02-02 09:25] allex commented on #334
still not fixed?

[2018-02-02 09:37] sergeysova commented on #334
Same error with recommended config

[2018-02-02 09:40] sergeysova commented on #334
Same error with rule `no-duplicate-at-import-rules`

[2018-04-06 18:40] Slapbox commented on #334
I'm also getting this error with `stylefmt 6.0.0` and the same config,

Since this library appears to be unmaintained, I'd recommend this package instead:

https://github.com/kennyinthirathclq/stylefmt/

`yarn add --dev https://github.com/kennyinthirathclq/stylefmt/tarball/6a5be19ef62f353f866740726d91e5bcceade650`

Run via a `package.json` command with:

`"lint-styles-fix": "node ./node_modules/st

[2018-04-13 04:30] morishitter commented on #330
@jorgebucaran It is almost the same as prettier. If it a fine place, stylefmt supports for sorting declarations, reading the configuration file of editorconfig and so on.

[2018-06-28 03:31] qianwencai commented on #251
请问怎么在vue-cli项目中使用stylefmt啊？我安装了这个工具格式化的时候无法成功

[2018-06-28 03:36] qianwencai opened #335 "请问怎么在vue-cli项目中使用stylefmt啊？我安装了这个工具格式化的时候无法成功 Sign up for free"

[2018-07-15 12:46] KytoSai opened #337 "Please support stylelint property order option config"
Please support styelint order option config
`https://github.com/hudochenkov/stylelint-order`

Because "declaration-colon-space-after" is DEPRECATED

Thanks you !

[2018-10-15 00:34] Belgiumese opened #342 "Incorrect Quotation in SCSS @functions"
**Environment**
Visual Studio Code 1.28.1

**Actual Behavior**
`string-quotes: single` is set in my stylelintrc file. Most code is auto-formatted correctly, except for in SCSS functions, where `@warn`, `@error`, and `@debug` directives are formatted to double quotes. This then logs as an error with stylelint.

**Expected Behavior**
Formatting with stylefmt should consistently change this code to s

[2018-11-06 10:02] ronilaukkarinen commented on #334
Gives the same error for me. Needs to be fixed.

[2018-11-07 09:00] ronilaukkarinen commented on #334
This bug also affects [gulp-stylefmt](https://github.com/morishitter/gulp-stylefmt) and [sublime-stylefmt](https://github.com/dmnsgn/sublime-stylefmt). For googlers, this can be fixed easily by updating the dependencies of stylefmt:

1. cd to node_modules/stylefmt (with gulpstylefmt it's under `node_modules/gulp-stylefmt/node_modules/stylefmt` and with sublime-stylefmt under `~/Library/Application

[2018-11-07 10:31] ronilaukkarinen commented on #334
Note to self, need to copy stylelint directly under gulp-stylefmt: `sudo cp -Rv /usr/local/lib/node_modules/stylelint "/Users/rolle/Projects/airdev/content/themes/air-light/node_modules/gulp-stylefmt/node_modules/"`

[See also.](https://github.com/morishitter/gulp-stylefmt/issues/10#issuecomment-436571016)

[2018-11-13 10:49] saltcod commented on #334
@ronilaukkarinen I ran went into Application Support/ST3/stylefmt/node_modules/etc.... and ran npm update and then npm install for good measure.

I'm still seeing the error. Did this fix it in sublime for you?

[2018-11-13 11:32] ronilaukkarinen commented on #334
@saltcod Nope, because stylelint is not included in the package.json of [sublime-stylefmt](https://github.com/dmnsgn/sublime-stylefmt/blob/master/package.json), it comes directly from node_modules that is included within the repo, [see this](https://github.com/dmnsgn/sublime-stylefmt/tree/master/node_modules).

Let me clarify the issue and all the others this is related.

### This repository

Styl

[2018-11-13 12:21] saltcod commented on #334
Wow. That's a lot of headache there. Looking like I can't use sublime anymore b/c we just added stylelint to our tooling, and prettier is a deal-breaker for me now. Hooray for the future.

[2018-11-13 12:29] ronilaukkarinen commented on #334
Yeah, for our team we have the "install global stylelint and overwrite dependencies" commands in our build scripts and workflow so that "solves" it for now, but of course I expect these to get really solved in the future.

[2018-12-06 14:17] #316 closed

[2019-06-30 22:44] oshalygin commented on #321
ditto here, anyone already working on this?  I dont mind submitting a PR

[2020-03-05 12:19] ronilaukkarinen commented on #240
Still not yet fixed? Not often needed, but today encountered a project where this is pretty much must-have. Have to figure out some other way if not implemented yet.

[2020-03-05 13:59] ronilaukkarinen commented on #331
This is very frustrating. How to prevent inlining?

[2020-03-05 14:11] ronilaukkarinen commented on #331
I have currently solved this by commenting out the following line. Someone more experineced JS developer should make an exception for sass:maps.

https://github.com/morishitter/stylefmt/blob/875c9037590fa201bdd7698fbfa5c1943137cc86/lib/formatSassVariables.js#L46

[2020-05-04 21:05] ghost commented on #337
@KytoSai ?

[2020-05-06 07:22] #337 closed

[2020-06-01 16:07] #293 closed

[2020-06-16 11:08] luisliuchao commented on #259
Eventually, I figured it out by adding
[code]

[2020-07-14 08:33] ronilaukkarinen commented on #329
I still use stylefmt daily and all you need for it to work is update stylelint to latest version and run npm update... this repo has not been updated for two years now and I'm getting frustrated since at least 5 other tools (like vscode and gulp plugins) are outdated as well because of outdated stylefmt dependencies. I have emailed the maintainer if he would be willing to share access, here's one

[2020-07-14 08:34] ronilaukkarinen commented on #334
For reference:

I still use stylefmt daily and all you need for it to work is update stylelint to latest version and run npm update... this repo has not been updated for two years now and I'm getting frustrated since at least 5 other tools (like vscode and gulp plugins referenced above) are outdated as well because of outdated stylefmt dependencies. I have emailed the maintainer if he would be wil

[2020-07-31 13:37] #155 closed

[2020-08-11 00:01] #275 closed

[2020-10-19 21:48] ronilaukkarinen commented on #334
FYI anyone who still might follow the stylefmt project. I have discontinued using gulp-stylefmt and sublime-stylefmt in favor of VSCode for the better part of the year. For this reason I have created [vscode-stylefmt](https://github.com/ronilaukkarinen/vscode-stylefmt) that uses my active fork of [stylefmt](https://github.com/ronilaukkarinen/stylefmt) (will release an npm package of the fork with

[2020-10-19 21:49] ronilaukkarinen commented on #329
FYI anyone who still might follow the stylefmt project. I have discontinued using gulp-stylefmt and sublime-stylefmt in favor of VSCode for the better part of the year. For this reason I have created [vscode-stylefmt](https://github.com/ronilaukkarinen/vscode-stylefmt) that uses my active fork of [stylefmt](https://github.com/ronilaukkarinen/stylefmt) (will release an npm package of the fork with

[2020-10-21 04:50] ronilaukkarinen commented on #342
Hey @Belgiumese, this has been fixed in my [active fork](https://github.com/ronilaukkarinen/stylefmt). Also feel free to use my version of [vscode-stylefmt](https://github.com/ronilaukkarinen/vscode-stylefmt). 👍

[2021-02-21 03:13] #210 closed

[2021-06-23 13:46] ronilaukkarinen commented on #337
@kytosai Check out [my active fork](https://github.com/ronilaukkarinen/stylefmt#installation).